<div class="Registration">
    <div class="modal" [ngClass]="{'show-modal': modalVisible}">
      <div class="Registration_Response">
        <p class="Response_Style">{{ Registration_Response }}</p>
        <button (click)="hideModal()" class="close-modal-btn">Close</button>
      </div>
    </div>
    <div class="Regirster_Style">
        <form [formGroup]="registrationForm" class="Register_Form" (ngSubmit)="onSubmit()">
         <div class="">
            <input type="text" formControlName="name" placeholder="Name" class="Reg_Input" required="name">
            <div *ngIf="registrationForm.controls['name'].dirty || isFormSubmited">
              <span *ngIf=" registrationForm.controls['name'].errors?.['required']"class="validationMessage">Name is required</span>
            </div>         
         </div>

         <div class="">
            <input type="text" formControlName="lastName" placeholder="LastName" class="Reg_Input">
            <div *ngIf="registrationForm.controls['lastName'].dirty || isFormSubmited">
              <span *ngIf=" registrationForm.controls['lastName'].errors?.['required']"class="validationMessage">Lastname is required</span>
            </div>         
         </div>

         <div class="">
            <input type="email" formControlName="email" placeholder="Email" class="Reg_Input">
            <div *ngIf="registrationForm.controls['email'].dirty || isFormSubmited">
              <span *ngIf=" registrationForm.controls['email'].errors?.['required']"class="validationMessage">Email is required</span>
            </div>         
         </div>

         <div class="">
            <input type="password" formControlName="password" placeholder="Password" class="Reg_Input">
            <div *ngIf="registrationForm.controls['password'].dirty || isFormSubmited">
              <span *ngIf=" registrationForm.controls['password'].errors?.['required']"class="validationMessage">password is required</span>
            </div>         
         </div>

         <div class="">
            <input type="number" formControlName="phone" placeholder="+995" class="Reg_Input">
            <div *ngIf="registrationForm.controls['phone'].dirty || isFormSubmited">
              <span *ngIf=" registrationForm.controls['phone'].errors?.['required']" class="validationMessage">phone is required</span>
              <span *ngIf=" registrationForm.controls['phone'].errors?.['']" class="validationMessage">Phone Number is incorrect</span>
            </div>         
         </div>

          <button type="submit" class="submit-btn" (click)="onSubmit()">Submit</button>
        </form>
    </div> 
</div>
 