
<div class="modal-parent" *ngIf="modalVisible">
    <div class="modal">
        <div class="close-button-parent">
            <button (click)="closeModal()" class="close-button">X</button>
        </div>
        <div class="possible-response">
            <p class="response" *ngIf="emailVisible">{{"EMAILREGISTERED" | translate}}</p>
            <p class="response" *ngIf="passcodeVisible">{{"WRONGPASSCODE" | translate}}</p>
            <p class="response" *ngIf="passwordVisible">{{"SOMETHINGWENTWRONG" | translate}}</p>
            <p class="response" *ngIf="loginresp">{{"EMAILPASSINCORECT" | translate}}</p>
        </div>
    </div>
</div>
<div class="center-body">
    <div class="login-form" *ngIf="switch">
        
        <form action="" [formGroup]="loginForm">
            <div class="form-container">
                <div class="form-title">
                    {{"LOGIN"| translate}}
                </div>
                <div class="form__group field">
                    <input type="input" class="form__field" placeholder="Name" formControlName="email">
                    <label for="name" class="form__label">{{"EMAIL" |translate}}</label>
                </div>
                <div class="form__group field">
                    <input type="password" class="form__field" placeholder="Name" formControlName="password">
                    <label for="name" class="form__label">{{"PASSWORD" |translate}}</label>
                </div>
                <button class="submit-button" (click)="login()" [ngClass]="{'valid-class': loginForm.valid, 'invalid-class': !loginForm.valid}">Submit</button>
            </div>
        </form>
    </div>




    <div class="login-form" *ngIf="!switch">
        <form action="" [formGroup]="emailValidationForm" *ngIf="emailVisible"> 
            <div class="form-container">
                <div class="form-title">
                    {{"REGISTRATION"| translate}}
                </div>
                <div class="form__group field">
                    <input type="email" class="form__field" placeholder="Name"  formControlName="email">
                    <label for="name" class="form__label">{{"EMAIL" |translate}}</label>
                </div>
                <button class="submit-button" (click)="validateEmail()" [disabled]="!emailValidationForm.valid" [ngClass]="{'valid-class': emailValidationForm.valid, 'invalid-class': !emailValidationForm.valid}">Submit</button>
            </div>
        </form>
        <form action="" [formGroup]="passcodeValidationForm" *ngIf="passcodeVisible">
            <div class="form-container">
                <div class="form-title">
                    {{"REGISTRATION"| translate}}
                </div>                 
                <div class="form__group field">
                    <input type="email" class="form__field" placeholder="Name"  formControlName="passcode">
                    <label for="name" class="form__label">{{"PASSCODE" |translate}}</label>
                </div>
                <button class="submit-button" (click)="passcodeValidation()" [ngClass]="{'valid-class': passcodeValidationForm.valid, 'invalid-class': !passcodeValidationForm.valid}">Submit</button>
            </div>
        </form>
        <form action="" [formGroup]="registrationForm" *ngIf="passwordVisible">
            <div class="form-container">
                <div class="form-title">
                    {{"REGISTRATION"| translate}}
                </div>
                <div class="form__group field">
                    <input type="email" class="form__field" placeholder="Name"  formControlName="password">
                    <label for="name" class="form__label">{{"PASSWORD" |translate}}</label>
                </div>
                <button class="submit-button" (click)="RegistrationFinish()" [ngClass]="{'valid-class': registrationForm.valid, 'invalid-class': !registrationForm.valid}">Submit</button>
            </div>
        </form>
    </div>

    <div class="switch-parent">
        <button (click)="switchReg()" *ngIf="switch" class="switch-button">{{"SWITCHTOLOGIN" |translate}}</button>
        <button (click)="switchLog()" *ngIf="!switch" class="switch-button">{{"SWITCHTOREG" |translate}}</button>
    </div>
</div>