:host{
    width: 100%;
    height: 100%;
}
.scanner-parent{
    display: flex;
    width: 100%;
    height: 70vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}
.scanner{
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 20px;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.374);
    height: 350px;
}
.scaner-response{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
}
.found-ticket{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 400px;
}
.is-active{
    font-size: 25px;
}
.ticket-image-container{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    border: 1px solid white;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ticket-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.ticket-title{
    color: white;
    font-family: inherit;
}
.active{
    color: green;
}
.expired{
    color: red;
}
.expired-icon{
    color: red;
}
.user{
    color: white;
    font-size: 25px;
    font-family: inherit;
}

.scanner-opener {
    display: inline-block;
    padding: 10px;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid white;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
    border-radius: 10px;
    align-items: center;
    height: 40px;
    }
    
    .scanner-opener::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
    }
    
    .scanner-opener:hover::before {
    transform: translateX(0);
    background-color: black;
    }
    .close-scanner{
        border: 3px solid red;
        width: 400px;
    }
    .close-scanner:before{
        background-color: red;
    }
    .close-scanner:hover::before{
        background-color: red;
    }


.ticket-not-found{
    font-size: 25px;
    color: red;
}    