.centerCover{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.header{
  width: 100%;
  display: flex;
  justify-content: center;
}
.cover{
  width: 90%;
  max-width: 1600px;
  cursor: pointer;
}
.cover-image-container{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 20px;
  position: relative;
}
.cover-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.slider-buttons{
  position: absolute;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  border: none;
  opacity: 0;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.cover:hover  .slider-buttons{
  opacity: 1;
}
.left{
  left: 3%;
}
.right{
  right: 3%;
}
//Ticket______________________________________
.CenterBody{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    z-index: 5;
}
.card_box_main{
  width: 320px;
}
.card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box span::before {
  content: 'Top';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #ff3107 0%, #ff4444  51%, #ff401a  100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  z-index: 2;
}

.card_box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}
.ticketDate{
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.923);
  bottom: -50px;
  transition: 0.2s all ease-in-out;
}
.card_box_main:hover .ticketDate{
  bottom: 0px;
}
.date-ticket{
  display: flex;
  align-items: center;
  gap: 10px;
  color: whitesmoke;
  padding: 10px;
}
.Ticket_parent_Carousel {
  width: 90%;
  display: flex;
  overflow-y: hidden;
  overflow-x: auto; 
  position: absolute;
  gap: 30px;
  scrollbar-width: none; 
  -ms-overflow-style: none; 
  max-width: 1600px;
}

.Ticket_parent_Carousel::-webkit-scrollbar {
  display: none;
}

.Ticket {
  color: #ecf7c5;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 5px;
  animation: Appear 0.3s linear;
}

@keyframes Appear {
  0% {
    transform: translate(-900px);
  }
  50%{
    transform: translate(100px);
  }
  100% {
    transform: scale(1);
  }
}

.scrolBUttonsParent{
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.sectionHeader{
  width: 100%;
  display: flex;
  justify-content: center;
  z-index: 2;
  margin-top: 50px;
}
.sectionHeaderAlign{
  width: 90%;
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
}
.sectionTitletext{
  color: lightcyan;
  font-size: 25px;
  display: flex;
  align-items: center;
  font-weight: bolder;
  cursor: pointer;
}
.starIcon{
  color: orangered;
  font-size: 30px;
  width: 30px;
  height: 30px;
}
.section{
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  position: relative;
  justify-content: center;
  height: 270px;
}
.other-section{
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  justify-content: center;
}
.section-title-align{
  display: flex;
  align-items: center;
  gap: 20px;
}
.Ticket_parent{
  display: grid;
  width: 90%;
  max-width: 1600px;
  grid-template-columns: repeat(3,1fr);
  gap: 30px;
  padding-top: 30px;
  row-gap: 50px;
}
.popular-title{
  font-size: 20px;
  text-shadow: 0px 0px 1px white;
  color: rgb(240, 217, 217);
}
.card_box{
  width: 100%;
}
.Tickets{
  position: relative;
  cursor: pointer;
}
.top-tickets{
  background-color: red;
  padding: 5px;
  border-radius: 10px;
  color: white;
  z-index: 1;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.TicketImageContainer{
  border-image-width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.TicketImageContainer:hover .ticketDate{
  bottom: 0px;
}
.seeAllTickets {
  display: flex;
  align-items: center;
  color: rgb(206, 203, 203);
  gap: 10px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  text-transform: capitalize;
}

.seeAllTickets:hover {
  border-bottom: 1px solid white; 
  border: 100%; 
}

.CenterCatousel{
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}
.ticketfooter{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  transition: 0.2s all ease-in-out;
  top: 0;
  padding-top: 5px;
}
.Ticket:hover .ticketimage{
  scale: 1.1;
}
.ticketTitleMain{
  color: whitesmoke;
  font-size: 18px;
  text-shadow: 0px 0px 1px white;
  color: rgb(240, 217, 217);
}
.TicketImageContainerMain {
  width: 100%; 
  height: 200px;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.273);
  transition: 0.3s all ease-in-out;
}
.TicketImageContainerMain:hover{
  border: 1px solid white;
}
.ticketimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s all ease-in-out;
}
.TicketImageContainer:hover .ticketimage{
  scale: 1.1;
}


.footer{
  display: flex;
  margin-top: 50px;
  justify-content: center;
  width: 100%;
  background-color: rgb(23, 23, 28);
  align-items: center;
  padding: 30px 0px 30px 0px;
}
.footerChild{
  width: 90%;
  max-width: 1600px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.creator-flex{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.become-creator{
  color: white;
  font-size: 20px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
}
.creator-space{
  background-color: rgba(0, 0, 0, 0.381);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
  border: 1px solid rgba(128, 128, 128, 0.257);
  text-decoration: none;
  transition:0.3s all ease-in-out;
}
.creator-space:hover{
  background-color: rgba(70, 70, 70, 0.381);
}
.RouterLink{
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.creatorIcon{
  font-size: 50px;
  height: 50px;
  width: 50px;
}
.footer-ticketer-title{
  color: whitesmoke;
  font-size: 25px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-weight: 600;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  outline: none;
}










@media screen and (max-width : 730px){
  .card_box_main{
    width: 250px;
  }
  .TicketImageContainerMain{
    height: 150px;
  }
  .section{
    height: 200px;
  }
  .ticketTitleMain{
    font-size: 16px;
  }
  .Ticket_parent_Carousel{
    gap: 20px;
  }
  .sectionHeader{
    margin-top: 30px;
  }
  .starIcon{
    width: 20px;
    height: 20px;
    font-size: 20px;
  }
  .sectionTitletext{
    font-size: 20px;
  }
  .Ticket_parent_Carousel{
    margin-top: 20px;
  }
  .sectionHeaderAlign{
    gap: 10px;
  }
  .staritself{
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
  .TicketImageContainer{
    height: 170px;
  }
  .cover-image-container{
    height: 250px;
  }
}
@media screen and (max-width : 650px){
  .Ticket{
    width: 80%;
  }
  .card_box{
    width: 100%;
  }
  .seeAllTickets{
    display: none;
  }
  .section{
    height: 200px;
  }
  .cover-image-container{
    height: 230px;
  }
}
@media screen and (max-width : 550px){
  .content_style{
    border-radius: 5px;
  }
  .card_box_main{
    width: 200px;
  }
  .TicketImageContainerMain{
    height: 120px;
  }
  .section{
    height: 170px;
  }
  .Ticket_parent_Carousel{
    gap: 10px;
  }
  .Ticket_parent{
    grid-template-columns: repeat(1,1fr);
    gap: 10px;
  }
  .TicketImageContainer{
    height: 130px;
  }
}
@media screen and (max-width : 475px){
  .sectionTitletext{
    font-size: 20px;
  }
  .section{
    height: 150px;
  }
  .ticketTitleMain{
    font-size: 14px;
  }
  .TicketImageContainer{
    height: 150px;
  }
  .cover-image-container{
    height: 200px;
  }
}




@media screen and (min-width : 1665px){
  .Ticket_parent{
      grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width : 1365px){
    .Ticket_parent{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width : 1065px){
    .Ticket_parent{
        grid-template-columns: repeat(2, 1fr);
    }
}

@media screen and (max-width : 965px){
    .Ticket_parent{
      gap: 20px;
      row-gap: 20px;
    }
}

@media screen and (max-width : 600px){
    .Ticket_parent{
        grid-template-columns: repeat(1, 1fr);
    }
}

