

<div class="header">
    <div class="cover">
        <div class="cover-image-container">
            <img [src]="coverImages.photo" class="cover-image" alt="" [routerLink]="this.routes.fullticket + coverImages.id">
                <button class="slider-buttons left" (click)="scrollLeft()"> <mat-icon>chevron_left</mat-icon></button>
                <button class="slider-buttons right" (click)="scrollRight()" > <mat-icon>chevron_right</mat-icon></button>
        </div>
    </div> 
</div>




    <div class="CenterBody" *ngIf="allTicketsVisible == false && popularTickets">        
        <!--Upcoming Tickets-->
        <div class="sectionHeader headerTop" *ngIf="popularTickets">
            <div class="sectionHeaderAlign">
                <div class="">
                    <p class="sectionTitletext"  [routerLink]="this.routes.ticketCategories+'upcoming'"> {{ 'UPCOMINGEVENTS' | translate }} <mat-icon class = "starIcon">calendar_today/mat-icon></mat-icon></p> 
                </div>
                <div class="scrolBUttonsParent">
                    <div class="seeAllTickets" [routerLink]="this.routes.ticketCategories+'upcoming'">{{ 'SEEALLTICKETS' | translate }} <mat-icon class = "starIcon">confirmation_number</mat-icon></div>
                </div>
            </div>
        </div>
        <section class="section" *ngIf="popularTickets">
                <div class="CenterCatousel" >
                    <div class="Ticket_parent_Carousel"  *ngIf="upcomingTickets" appScrollAnimation>
                        <div class="Ticket" *ngFor="let tkt of upcomingTickets; let i = index" [routerLink]="this.routes.fullticket+tkt.id"  (click)="TicketViewCount(tkt.id)">
                            <div class="card_box_main">
                                <div class="TicketImageContainerMain">
                                    <img [src]="tkt.photo" alt="" class="ticketimage">
                                    <div class="ticketDate">
                                        <p class="date-ticket"><mat-icon>calendar_today </mat-icon> {{ tkt.activation_Date | date: 'MMM d' }}</p>
                                        <p class="date-ticket"><mat-icon>access_time </mat-icon> {{ tkt.activation_Date | date: 'h:mm a' }}</p>
                                    </div>
                                </div>
                                <div class="ticketfooter">
                                    <p class="ticketTitleMain">{{tkt.title}}</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>    
        </section>  


        <!--Popular Tickets-->
        <div class="sectionHeader" *ngIf="otherTickets">
            <div class="sectionHeaderAlign">
                <p class="sectionTitletext"  [routerLink]="this.routes.ticketCategories+'other'">{{ 'OTHERTICKETS' | translate }}<mat-icon class = "starIcon staritself">star</mat-icon></p>
                <div class="scrolBUttonsParent">
                    <div class="seeAllTickets"  [routerLink]="this.routes.ticketCategories+'other'">{{ 'SEEALLTICKETS' | translate }}<mat-icon class = "starIcon">confirmation_number</mat-icon></div>
                </div>
            </div>
        </div>
        <section class="section" *ngIf="otherTickets">    
                <div class="CenterCatousel">
                    <div class="Ticket_parent_Carousel" *ngIf="otherTickets" appScrollAnimation>
                        <div class="Ticket" *ngFor="let tkt of otherTickets; let i = index" [routerLink]="[this.routes.fullticket, tkt.id]"  (click)="TicketViewCount(tkt.id)">
                            <div class="card_box_main">
                                <div class="TicketImageContainerMain">
                                    <img [src]="tkt.photo" alt="" class="ticketimage">
                                    <div class="ticketDate">
                                        <p class="date-ticket"><mat-icon>calendar_today </mat-icon> {{ tkt.activation_Date | date: 'MMM d' }}</p>
                                        <p class="date-ticket"><mat-icon>access_time </mat-icon> {{ tkt.activation_Date | date: 'h:mm a' }}</p>
                                    </div>
                                </div>
                                <div class="ticketfooter">
                                    <p class="ticketTitleMain">{{tkt.title}}</p>
                                </div>
                            </div>
                        </div>
                    </div>  
                </div>   
        </section>   

        <div class="sectionHeader headerTop" *ngIf="popularTickets">
            <div class="sectionHeaderAlign">
                <div class="section-title-align"  [routerLink]="this.routes.ticketCategories+'popular'">
                    <p class="sectionTitletext"> {{ 'POPULAREVENTS' | translate }}</p> 
                    <div class="top-tickets">Top <mat-icon>star</mat-icon></div>
                </div>
                <div class="scrolBUttonsParent">
                    <div class="seeAllTickets" [routerLink]="this.routes.ticketCategories+'popular'">{{ 'SEEALLTICKETS' | translate }} <mat-icon class = "starIcon">confirmation_number</mat-icon></div>
                </div>
            </div>
        </div>
        <section class="other-section" *ngIf="popularTickets">
            <div class="Ticket_parent"  *ngIf="popularTickets" appScrollAnimation>
                <div class="Tickets" *ngFor="let tkt of popularTickets; let i = index" [routerLink]="this.routes.fullticket+tkt.id"  (click)="TicketViewCount(tkt.id)">
                    <div class="card_box">
                        <div class="TicketImageContainer">
                            <img [src]="tkt.photo" alt="" class="ticketimage">
                            <div class="ticketDate">
                                <p class="date-ticket"><mat-icon>calendar_today </mat-icon> {{ tkt.activation_Date | date: 'MMM d' }}</p>
                                <p class="date-ticket"><mat-icon>access_time </mat-icon> {{ tkt.activation_Date | date: 'h:mm a' }}</p>
                            </div>
                        </div>
                        <div class="ticketfooter">
                            <p class="popular-title">{{tkt.title}}</p>
                        </div>
                    </div>
                </div>
            </div>  
        </section>  
         
    </div>


    <footer class="footer">
      <div class="footerChild">
        <div class="become-creator">
            {{"BECOMECREATOR" |translate}}
        </div>
        <div class="creator-flex">
            <a class="creator-space" [routerLink]="this.routes.creator" >
                <div class="RouterLink"><mat-icon class="creatorIcon">palette</mat-icon>{{ 'CREATORSPACE' | translate }}</div>
            </a>
            <div class="footer-ticketer-title" (click)="scrollonTop()">  
                Ticketer
                <mat-icon>confirmation_number</mat-icon>
            </div>
        </div>
      </div>
    </footer>

