.centerCover{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}

//Header______________________________________
.Tickets_Header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    max-width: 1500px;
    margin-top: 100px;
}
.HeaderTitle{
  color: white;
  position: absolute;
  z-index: 2;
  left: 50px;
  top: 30%;
}
.PopularEvent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 300px;
  margin-top: 30px;
  position: relative;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  max-width: 1700px;
}
.PopularEvent:before {
  content: "Popular Events";
  position: absolute;
  top: 4px;
  left: -27px;
  background-color: rgb(216, 0, 0);
  width: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(216, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(342deg);
  z-index: 50;
  position: fixed;
  color: white;
}
.Photocontainer{
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.MostpopularEventPhoto{
    width: 100%;
    z-index: 1;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
}
.Header_Content{
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  justify-content: center;
  z-index: 5;
  cursor: pointer;
}
.content_style{
  background: linear-gradient(270deg, rgb(0, 0, 0), gold, rgb(94, 64, 168));
  background-size: 800% 800%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 10s ease infinite;
  color: white;
  font-size: 20px;
  padding: 10px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  font-family: sans-serif;
  margin: 20px;
  text-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
  transition: 0.2s all ease-in-out;
}
.content_style:hover{
  background-color: rgba(0, 0, 0, 0.242);
}
.firsthalf{
  width: 60%;
  height: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
.secondhalf{
  width: 40%;
  height: 100%;
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

//Ticket______________________________________
.CenterBody{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    max-width: 1800px;
    z-index: 5;
    overflow: hidden;
    margin-top: 20px;
}
.ticketerHeader{
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.632);
  padding: 5px;position: fixed;
  z-index: 15;
}
.searchingParent{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.filterwidth{
  display: flex;
  gap: 20px;
  width: 90%;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
.filters{
  display: none;
  background-color: rgb(44, 42, 42);
  gap: 30px;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.option{
  color: white;
  cursor: pointer;
}
.searchbarparent{
  width: 50%;
}
.searchbar{
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  outline: none;
  width: 100%;
  border-radius: 10px;
  position: sticky;
}
.FilteringContent{
  width: 80%;
  justify-content: center;
  display: flex;
  gap: 20px;
}
.FilterButtons{
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  border: 1px solid transparent;
  font-size: 20px;
}
.FilterButtons:hover{
  border-bottom:1px solid white;
}










.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box {
  width: 400px;
  height: auto;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all 0.4s ease-in-out;
  padding: 5px;
}
.card_box span {
  position: absolute;
  overflow: hidden;
  width: 150px;
  height: 150px;
  top: -10px;
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card_box span::before {
  content: 'Top';
  position: absolute;
  width: 150%;
  height: 40px;
  background-image: linear-gradient(45deg, #ff3107 0%, #ff4444  51%, #ff401a  100%);
  transform: rotate(-45deg) translateY(-20px);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  box-shadow: 0 5px 10px rgba(0,0,0,0.23);
  z-index: 2;
}

.card_box span::after {
  content: '';
  position: absolute;
  width: 10px;
  bottom: 0;
  left: 0;
  height: 10px;
  z-index: -1;
  box-shadow: 140px -140px #cc3f47;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
}


.Ticket_parent {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 40px;
  justify-content: center;
  margin-top: 30px;
  row-gap: 30px;
}
.Ticket {
  color: #ecf7c5;
  min-width: 100px;
  font-family: sans-serif;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  border-radius: 5px;
  animation: Appear 0.3s linear;
}

@keyframes Appear {
  0% {
    transform: translate(-900px);
  }
  50%{
    transform: translate(100px);
  }
  100% {
    transform: scale(1);
  }
}
.titlecenter{
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  transition: 0.2s all ease-in-out;
  justify-content: center;
}
.titlecenter:hover{
  background-color: rgba(0, 0, 0, 0.536);
}
.leftSide{
  position: relative;
}
.Ticket_Title{
  font-size: 17px;
  color: whitesmoke;
  margin: 0;
  z-index: 10;
  display: flex;
  align-items: center;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  text-shadow: 0px 0px 1px black;
  padding: 3px;
  font-size: 18px;
}

.viewcount{
  display: flex;
  position: absolute;
  align-items: flex-start;
  top: -10px;
  left: -10px;
  z-index: 1;
}
.viewflex{
  display: flex;
  align-items: center;
  margin: 0;
  background-color: rgba(0, 0, 0, 0.622);
  padding: 5px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  font-size: 15px;
  justify-content: center;
  margin:0;
}
.eyesize{
  margin: 0;
  width: 20px;
  height: 15px;
  font-size: 15px;
}
.TicketImageContainer {
  width: 100%; 
  height: 250px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border-radius: 10px;
  border: 1px solid rgba(128, 128, 128, 0.273);
  transition: 0.2s all ease-in-out;
}
.TicketImageContainer:hover{
  border: 1px solid white;
}
.ticketimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s all ease-in-out;
}
.TicketImageContainer:hover .ticketimage{
  scale: 1.1;
}






@media screen and (max-width : 860px){
  .content_style{
    padding: 5px;
    font-size: 15px;
  }
  .Tickets_Header:before {
    font-size: 12px;
    padding: 5px;
  }
  .PopularEvent{
    width: 700px;
    height: 280px;
  }
  .Photocontainer{
    height: 280px;
  }
  .PopularEvent::before{
    padding: 4px;
  }
  .Ticket_parent {
    width: 100%;
  }
  .Ticket_Title{
    font-size: 15px;
    max-width: 180px;
  }
.card_box{
  width: 100%;
}  .Ticket{
  width: 90%;
}

}
@media screen and (max-width : 730px){
  .PopularEvent{
    width: 600px;
    height: 280px;
  }
}
@media screen and (max-width : 650px){
  .PopularEvent{
    width: 550px;
    height: 280px;
  }
  .Ticket_parent{
    gap: 15px;
  }
  .Ticket_Title{
    max-width: 154px;
  }
}
@media screen and (max-width : 550px){
  .PopularEvent{
    width: 450px;
    height: 200px;
  }
  .Photocontainer{
    height: 200px;
  }
  .content_style{
    border-radius: 5px;
  }
  .Ticket_Title{
    max-width: 214px;
  }
  .FilteringContent{
    display: none;
  }
  .filters{
    display: flex;
  }
}
@media screen and (max-width : 475px){
  .PopularEvent{
    width: 400px;
    height: 200px;
  }
  .Ticket_Title{
    max-width: 174px;
  }
}

@media screen and (max-width : 400px){
  .top-ticket::before{
    width: 40px;
    font-size: 12px;
    top: -10px;
    right: -10px;
    font-size: 10px;
  }
  .PopularEvent{
    width: 350px;
    height: 150px;
  }
  .Photocontainer{
    height: 150px;
  }
  .PopularEvent::before{
    padding: 2px;
    font-size: 10px;
    left: -15px;
  }
  .Ticket_Title  {
    max-width: 154px;
  }
  .calendar{
    font-size: 12px;
  }
  .data_style{
    font-size: 12px;
    gap: 0px;
  }
}
@media screen and (max-width : 300px){
  .PopularEvent{
    width: 280px;
    height: 120;
  }
  .Photocontainer{
    height: 150px;
  }
}