.center{
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.loader{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.438);
}
.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {
  from, 4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%, 54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%, to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {
  from, 12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%, 62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%, to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%, 58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {
  from, 8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%, to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}
//Header______________________________________
.Tickets_Header{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    max-width: 1500px;
}
.PopularEvent{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 300px;
  margin-top: 30px;
  position: relative;
  backdrop-filter: blur(20px);
  border-radius: 10px;
  box-shadow: 0px 0px 10px black;
  border-radius: 10px;
  max-width: 1700px;
}
.PopularEvent:before {
  content: "Popular Events";
  position: absolute;
  top: 4px;
  left: -27px;
  background-color: rgb(216, 0, 0);
  width: auto;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgb(216, 0, 0);
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(342deg);
  z-index: 50;
  position: fixed;
  color: white;
}
.Photocontainer{
  width: 100%;
  height: 300px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.MostpopularEventPhoto{
    width: 100%;
    z-index: 1;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
}
.Header_Content{
  display: flex;
  width: 100%;
  height: 100%;
  position: fixed;
  justify-content: center;
  align-items: center;
  justify-content: center;
  z-index: 5;
  cursor: pointer;
}
.content_style{
  background: linear-gradient(270deg, rgb(0, 0, 0), gold, rgb(94, 64, 168));
  background-size: 800% 800%;
  -webkit-animation: AnimationName 5s ease infinite;
  -moz-animation: AnimationName 5s ease infinite;
  animation: AnimationName 10s ease infinite;
  color: white;
  font-size: 20px;
  padding: 10px;
  backdrop-filter: blur(5px);
  border-radius: 10px;
  font-family: sans-serif;
  margin: 20px;
  text-shadow: 0px 0px 5px black;
  box-shadow: 0px 0px 5px black;
  transition: 0.2s all ease-in-out;
}
.content_style:hover{
  background-color: rgba(0, 0, 0, 0.242);
}
.firsthalf{
  width: 60%;
  height: 100%;
  align-items: flex-end;
  display: flex;
  justify-content: flex-start;
  margin: 0;
}
.secondhalf{
  width: 40%;
  height: 100%;
  align-items: flex-start;
  display: flex;
  justify-content: flex-end;
  margin: 0;
}

//Ticket______________________________________
.CenterBody{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    max-width: 1800px;
    z-index: 5;
    overflow: hidden;
    margin-top: 20px;
}
.FilterParent{
  display: flex;
  width: 100%;
  position: sticky;
  top: -1px;
  z-index: 10;
  justify-content: center;
}
.filterwidth{
  display: flex;
  gap: 20px;
  width: 90%;
  justify-content: center;
  padding: 10px;
  border-radius: 10px;
}
.filters{
  display: flex;
  background-color: rgb(44, 42, 42);
  gap: 30px;
  border-radius: 10px;
  padding: 10px;
  color: white;
}
.option{
  color: white;
  cursor: pointer;
}
.searchbarparent{
  width: 30%;
}
.searchbar{
  background-color: white;
  border: none;
  color: black;
  padding: 10px;
  outline: none;
  width: 100%;
  border-radius: 10px;
  position: sticky;
}
.Ticket_parent {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px;
  gap: 30px;
  justify-content: center;

}
.Ticket{
    color: white;
    min-width: 100px;
    font-family: sans-serif;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: auto;
    justify-content: space-between;
}

.Ticket:hover{
  scale: 1.02;
}
.top-ticket {
  color: white;
  position: relative;
  transition: 0.3s all ease-in-out;

}
.top-ticket:before {
  content: "Hot";
  position: absolute;
  top: -10px;
  right: -30px;
  background-color: red;
  width: 40px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px red;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotateZ(-342deg);
  z-index: 1;
  color: white;
}
.titlecenter{
  display: flex;
  width: 100%;
  position: absolute;
  height: 100%;
  transition: 0.2s all ease-in-out;
  justify-content: center;
}
.titlecenter:hover{
  background-color: rgba(0, 0, 0, 0.536);
}
.leftSide{
  position: relative;
}
.Ticket_Title{
  font-size: 17px;
  color: orange;
  margin: 0;
  height: 20px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.Editticket{
  display:flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  transition: 0.2s all ease-in-out;
}
.Editticket:hover{
  background-color: rgba(0, 0, 0, 0.319);
  .edittext{
    opacity: 1;
  }
}
.edittext{
  background-color: rgba(0, 0, 0, 0.651);
  opacity: 0;
  transition: 0.2s all ease-in-out;
  padding: 5px;
  border-radius: 5px;
}
.TicketImageContainer {
  width: 220px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 200px;
  position: relative;
  border-radius: 5px 5px 5px 5px;
}
.ticketimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
}

.data_style{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    height: 30px;
}
.iconsize{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.publisherData{
  display: flex;
  align-items: center;
  justify-content :space-between;
  width: 100%;
}
.PublisherProfile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.PublisherImg{
  width: 30px;
  border-radius: 50%;
}




@media screen and (max-width : 800px){
  .content_style{
    padding: 5px;
    font-size: 15px;
  }
  .Tickets_Header:before {
    font-size: 12px;
    padding: 5px;
  }
  .PopularEvent{
    width: 700px;
    height: 280px;
  }
  .Photocontainer{
    height: 280px;
  }
  .PopularEvent::before{
    padding: 4px;
  }
  .Ticket_parent {
    width: 100%;
  }
  .Ticket{
    .TicketImageContainer{
      width: 300px;
      max-width: 300px;
    }
    .ticketimage{
      width: 300px;
    }
  }

}
@media screen and (max-width : 650px){
  .Ticket{
    .TicketImageContainer{
      width: 250px;
      max-width: 250px;
    }
    .ticketimage{
      width: 250px;
    }
  }
}
@media screen and (max-width : 530px){
  .PopularEvent{
    width: 400px;
    height: 200px;
  }
  .Photocontainer{
    height: 200px;
  }
  .content_style{
    border-radius: 5px;
  }
  .Ticket{
    .TicketImageContainer{
      width: 350px;
      max-width: 350px;
    }
    .ticketimage{
      width: 350px;
    }
  }
}
@media screen and (max-width : 445px){
  .Ticket{
    .TicketImageContainer{
      width: 350px;
      max-width: 350px;
    }
    .ticketimage{
      width: 350px;
    }
  }
}

@media screen and (max-width : 400px){
  .top-ticket::before{
    width: 40px;
    font-size: 12px;
    top: -10px;
    right: -10px;
  }
  .PopularEvent{
    width: 300px;
    height: 150px;
  }
  .TicketImageContainer{
    width: 250px;
  }
  .Photocontainer{
    height: 150px;
  }
  .PopularEvent::before{
    padding: 2px;
    font-size: 13px;
  }
  .Ticket{
    .TicketImageContainer{
      max-width: 250px;
    }
  }
}
@media screen and (max-width : 300px){
  .PopularEvent{
    width: 280px;
    height: 120;
  }
  .Photocontainer{
    height: 150px;
  }
  .Ticket{
    .TicketImageContainer{
      max-width: 220px;
    }
    .ticketimage{
      width: 220px;
    }
  }
}