.YourTicket{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 100px;
}
.YourTicketText{
    color: white;
    font-size: 40px;
    font-family: sans-serif;
}
.ticketbody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
}
.Modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.ModalWindow{
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.TicketFormm{
    width: 100%;
    display: flex;
    justify-content: center;
}
.FormAlign{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    background-color: #333;
    box-shadow: 0px 0px 10px black;
}
.FirstHalf{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.SecondHalf{
    display: flex;
    justify-content: space-between;
}
.SecondHalfInputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.FormHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.genreparent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genre {
    width: 100%;
    max-width: 150px;
    height: 40px;
    background-color: rgba(188, 187, 187, 0.281);
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: 16px;
    outline: none;
    appearance: none; 
  }
  .genre::after {
    content: '\25BC'; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .genre option {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    transition: 0.3s all ease-in-out;
  }
  .genre option:hover,
  .genre option:focus {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
  .genre option:checked {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  select:focus {
    border: none;
    outline: none;
  }
  
.photoAlign{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.DescriptionAlingn{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.DescriptionIput {
    width: 100%;
    height: 100px;
    background-color: rgba(188, 187, 187, 0.281);
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    display: flex;
    text-align: top;
    word-break: break-all;
    overflow: hidden;
}
.description{
    width: 100%;
    height: 300px;
}
.DateGroup{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(188, 187, 187, 0.281);
    max-width: 200px;
}
.DateAlign{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dateStyle{
    color: white;
    background-color: #333; 
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}
.Time {
    background-color: #333; 
    width: 100px; 
    height: 40px; 
    border-radius: 8px; 
    border: none;
    color: #fff;
    padding: 5px 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.Time:focus {
    outline: none;
    background-color: #444;
    box-shadow: 0 0 0 2px #00aaff; 
}
.TicketInputs{
    outline: none;
    color: white;
    background-color: rgba(188, 187, 187, 0.281);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 150px;
}
.pricetag{
    width: 100px;
}

//Ticket
.Ticket{
    background: linear-gradient(270deg, rgb(146, 191, 237), #b2b796, rgb(157, 134, 215));
    background-size: 800% 800%;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
    color: black;
    max-width: 300px;
    min-width: 200px;
    padding: 10px 20px 0px 20px;
    border-radius: 20px;
    font-family: sans-serif;
    font-weight: 600;
    box-shadow: 0px 0px 10px black;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: auto;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

   50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
.Ticket_HEader{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.Ticket_genre_parent{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.TicketCountParent{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:20px
}
.Ticket_genre{
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.552);
  border-radius: 5px;
  color: white;
  margin: 0;
  text-shadow: 0px 0px 4px black;
}
.Ticket_Title{
  font-size: 20px;
  word-break: break-all;
}
.TicketImageContainer{
    max-width: 300px;
    min-width: 200px;
    overflow: hidden;
    display: grid;
    place-items: center;
    max-height: 300px;
    min-height: 200px;
    border-radius: 10px;
}
.ticketimage{
    width: 100%;
    min-width: 200px;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    max-height: 300px;
}
.data_style{
    display: flex;
}
.publisherData{
  display: flex;
  align-items: center;
  justify-content :space-between;
  width: 100%;
}
.PublisherProfile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.PublisherImg{
  width: 30px;
  border-radius: 50%;
}
.descriptionTicket{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-height: 150px;
    overflow: hidden;
}
.DescriptionStyleTExt{ 
    word-break: break-all;
}

