<div class="Modal" *ngIf="ModalVisible">
    <div class="ModalWindow">
        <p class="ModalMessage">{{ModalMessgae}}</p>
    </div>
</div>
<div class="ticketbody" *ngIf="EditTicket"  >   
    <div class="CancelAdingticket">
        <button class="CancelAdingticketButton" (click)="CancelTicketCreation()"><mat-icon>close</mat-icon></button>   
    </div>
    <form [formGroup]="ticketForm"  (submit)="addTicket()" class="TicketFormm">
        <div class="FormAlign">
            <div class="FirstHalf">
                <div class="FormHeader">
                    <label for="title" >Title:</label>
                    <input id="title" [formControl]="title" type="text" class="TicketInputs" maxlength="80" placeholder="Add Title here..">
                   </div>
                   <div class="genreparent">
                       <label for="genre">Genre:</label>
                       <select id="genre" formControlName="Genre" [formControl]="Genre" class="genre"> 
                         <option class="GenreOption" value="" disabled selected>Select a genre</option>
                         <option class="GenreOption" value="Football">Football</option>
                         <option class="GenreOption" value="Animation">Animation</option>
                         <option class="GenreOption" value="Music">Music</option>
                       </select>
                 </div>
                 <div class="DescriptionAlingn">
                    <label for="price">Price:</label>
                    <input id="price" [formControl]="Price" type="number" class="TicketInputs pricetag" placeholder="10$">                 
                </div>
            </div>
            <div class="SecondHalf">
                <div class="SecondHalfInputs">
                    <div class="photoAlign">
                        <label for="photo">Photo:</label>
                        <input id="photo" formControlName="Photo" class="photoinput"  type="file" (change)="onFileChange($event)" accept="image/*">
                    </div>
                    <div class="DateGroup">
                        <label for="activation-date" class="Date">Activation</label>
                        <div class="DateAlign">
                            <input id="activation-date" [formControl]="Date" type="date" class="dateStyle">
                            <input id="activation-time" [formControl]="Time" class="Time" type="time">    
                        </div>            
                    </div>
                    <div class="DateGroup">
                        <label for="activation-date" class="Date">Expiration</label>
                        <div class="DateAlign">
                            <input id="activation-date" formControlName="Expiration_Date"type="date" class="dateStyle">
                            <input id="activation-time" formControlName="ExpirationTime" type="time"class="Time">    
                        </div>     
                    </div>    
                    <div class="DescriptionAlingn">
                        <label for="description">Description:</label>
                        <input id="description" [formControl]="Description" type="text" class=" DescriptionIput"  placeholder="Add Description Here..." [maxlength]="800">    
                    </div>        
                </div>
           </div>
            <div class="TicketCountParent">
                <label for="ticketCount">How many Tickets do you want to create?</label>
                <input type="number" formControlName="TicketCount">
           </div>
            <button type="submit">Create Ticket</button>
        </div>
    </form>   
</div>



<!--My tickets-->
<div class="CenterEverything">  
    <div class="Ticket_parent" *ngIf="EditTicket == false">
      <div class="TicketWrap">
        <div  class="AddTicketCard">
            <button class="Createticketbutton" (click)="CreateTicketButton()">
               <mat-icon>add</mat-icon>Add New Ticket
            </button>
        </div>
        <div class="Ticket" *ngFor="let tkt of MyTickets; let i = index" [ngClass]="{'expired-ticket': isExpired(tkt)}" [routerLink]="['/EventCreator/Crud', tkt.id]">
            <div class="SoldTicketCount"> Sold {{tkt.sold}}</div>
            <div class="Editticket">
              <p class="edittext"><mat-icon class="editicon">edit</mat-icon> Edit Ticket</p>
            </div> 
            <div class="TicketFlex">
              <div class="leftSide">
    
                <div class="TicketImageContainer">
                  <div class="titlecenter">
                    <p class="Ticket_Title"> {{tkt.title}}</p>
                  </div>
                  <img [src]="tkt.photo" alt="" class="ticketimage">
                </div>
              </div>
            </div>
            <div class="publisherData">
              <div class="PublisherProfile">
                <img *ngIf="tkt.publisher.logo" [src]="tkt.publisher.logo" class="PublisherImg" alt="">
                <p class="PublisherName">{{tkt.publisher.userName}}</p>
              </div>
              <div class="data_style Price">
                <p class="Data_Titles">
                  <mat-icon class="iconsize">calendar_today</mat-icon>
                </p>
                <p>{{ formatDate(tkt.activation_Date) }}</p>
              </div>
              <p class="view data_style">
                <mat-icon class="iconsize">visibility</mat-icon>{{tkt.viewCount}}
              </p>
         </div>
      </div>
      </div>
    </div> 
  </div>
  