<div class="Modal" *ngIf="ModalVisible">
    <div class="ModalWindow">
        <p class="ModalMessage">{{ModalMessgae}}</p>
    </div>
</div>
<div class="YourTicket">
    <b class="YourTicketText">
        Create your own Ticket!
    </b>
</div>
<div class="ticketbody">
    <div class="firstHalf">
        
    <form [formGroup]="ticketForm"  (click)="AddTicket()">
        <div class="FromAlign">
            <label for="title" >Title:</label>
            <input id="title" formControlName="Title" [formControl]="Title" type="text">
          
            <label for="description">Description:</label>
            <input id="description" formControlName="Description" type="text">
          
            <label for="genre">Genre:</label>
            <select id="genre" formControlName="Genre" [formControl]="Genre">
              <option value="" disabled selected>Select a genre</option>
              <option value="Football">Football</option>
              <option value="Animation">Animation</option>
              <option value="Music">Music</option>
            </select>
            
          
            <label for="price">Price:</label>
            <input id="price" formControlName="Price" [formControl]="Price" type="number">
          
            <div class="DateTimeGroup">
                <div class="DateGroup">
                    <label for="activation-date" class="Date">Activation Date:</label>
                    <input id="activation-date" formControlName="Activation_Date" [formControl]="Date" type="date">
                    
                    <label for="activation-time">Activation Time:</label>
                    <input id="activation-time" formControlName="ActivationTime" type="time" [formControl]="Time" class="Time" value="12:00">                
                </div>
                <div class="DateGroup">
                    <label for="expiration-date">Expiration Date:</label>
                    <input id="expiration-date" formControlName="Expiration_Date" type="date">
                    
                    <label for="expiration-time" class="Date">Expiration Time:</label>
                    <input id="expiration-time"  class="Time" formControlName="ExpirationTime" type="time" value="01:00">    
                </div>            
            </div>
            
            <label for="photo">Photo:</label>
            <input id="photo" formControlName="Photo" type="text">
          
            <label for="ticketCount">Ticket Count:</label>
            <input id="ticketCount" formControlName="TicketCount" type="number">
            <input id="ticketCount" formControlName="PublisherID" type="number" [value]="CreatorID" [placeholder]="CreatorID">
          
            <button type="submit">Create Ticket</button>
        </div>
    </form>   
    </div>
    <div class="SecondHalf">
        <div class="Ticket">
            <div class="Ticket_genre_parent">
                <p class="Ticket_genre">{{GenreValue}} </p>
            </div>
            <div class="Ticket_HEader">
                <p class="Ticket_Title">{{TitleValue}}</p> 
            </div>
            <div class="TicketImageContainer">
                <img  alt="" class="ticketimage">
            </div>
            <div class="publisherData">
                <div class="PublisherProfile">
                    <img  class="PublisherImg" alt="">
                    <p class="PublisherName">
                    </p>
                </div>
                <div class="data_style Price"><p class="Data_Titles">Price: {{PriceValue}}</p> <p>$</p></div>
            </div>
            <div class="Ticket_Data">
               <div class="data_style Price"><p class="Data_Titles">Date: {{DateValue}} </p> <p></p></div>
               <div class="data_style Price"><p class="Data_Titles">Start : {{TimeValue}}</p> <p></p></div>
           </div>
        </div>
    </div>
</div>
