:host {
    display: block;
    width: 100%;
  }
.ticketbody{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    flex-direction: column;
}
.Modal{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.ModalWindow{
    width: 500px;
    height: 300px;
    background-color: black;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.TicketFormm{
    width: 100%;
    display: flex;
    justify-content: center;
}
.FormAlign{
    display: flex;
    flex-direction: column;
    color: white;
    padding: 20px;
    border-radius: 10px;
    gap: 20px;
    background-color: #333;
    box-shadow: 0px 0px 10px black;
}
.FirstHalf{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.SecondHalf{
    display: flex;
    justify-content: space-between;
}
.SecondHalfInputs{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.FormHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.genreparent{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.genre {
    width: 100%;
    max-width: 150px;
    height: 40px;
    background-color: rgba(188, 187, 187, 0.281);
    border: none;
    border-radius: 10px;
    padding: 8px;
    color: white;
    font-size: 16px;
    outline: none;
    appearance: none; 
  }
  .genre::after {
    content: '\25BC'; 
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
  }
  .genre option {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 10px;
    transition: 0.3s all ease-in-out;
  }
  .genre option:hover,
  .genre option:focus {
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
  }
  .genre option:checked {
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
  }
  select:focus {
    border: none;
    outline: none;
  }
  
.photoAlign{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.DescriptionAlingn{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.DescriptionIput {
    width: 100%;
    height: 100px;
    background-color: rgba(188, 187, 187, 0.281);
    border: none;
    border-radius: 10px;
    outline: none;
    color: white;
    display: flex;
    text-align: top;
    word-break: break-all;
    overflow: hidden;
}
.description{
    width: 100%;
    height: 300px;
}
.DateGroup{
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(188, 187, 187, 0.281);
    max-width: 200px;
}
.DateAlign{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.dateStyle{
    color: white;
    background-color: #333; 
    border: none;
    outline: none;
    padding: 5px;
    border-radius: 5px;
}
.Time {
    background-color: #333; 
    width: 100px; 
    height: 40px; 
    border-radius: 8px; 
    border: none;
    color: #fff;
    padding: 5px 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
}
.Time:focus {
    outline: none;
    background-color: #444;
    box-shadow: 0 0 0 2px #00aaff; 
}
.TicketInputs{
    outline: none;
    color: white;
    background-color: rgba(188, 187, 187, 0.281);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    max-width: 150px;
}
.pricetag{
    width: 100px;
}

.CenterEverything{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.AddTicketCard{
    width: 250px;
}
.Createticketbutton{
    display: flex;
    border: none;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    font-weight: 600;
    width: 100%;
    height: 100%;
    background-color: rgb(106 116 218 / 45%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 2px solid white;
    border-top: 2px solid white;
    height: 340px;
}
.Createticketbutton:hover{
    letter-spacing: 1px;
    background-color: rgb(37, 37, 104);
}
.Ticket_parent{
    width: 100%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.Ticket{
    display:flex;
    background-color: rgba(0, 0, 0, 0.195);
    box-shadow: 0px 0px;
    border-bottom: 2px solid green;
    border-top: 2px solid green;
    position: relative;
    padding: 0;
    color: white;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}
.Ticket::before{
    content: "Active";
    top: -10px;
    left: -10px;
    position: absolute;
    background-color: Green;
    padding: 5px;
    border-radius: 5px;
    z-index: 2;
}
.TicketWrap{
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    gap: 50px;
}
.SoldTicketCount{
    position: absolute;
    top: -10px;
    right: -10px;
    background-color: black;
    z-index: 2;
    padding: 5px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
.TicketImageContainer{
    max-width: 250px;
    min-width: 200px;
    overflow: hidden;
    display: grid;
    place-items: center;
    max-height: 300px;
  }
  .ticketimage{
    width: 100%;
    border-radius: 10px;
    transition: 0.3s all ease-in-out;
    max-height: 200px;
  }
  .publisherData{
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
.PublisherProfile{
    display: flex;
}
.PublisherImg{
    width: 50px;
    border-radius: 50%;
    height: 50px;
}  
.data_style{
    display: flex;
}
.expired-ticket{
    transition: 0.2s all ease-in-out;
    border-bottom:2px solid red;
    border-top:2px solid red;
    .Editticket{
        backdrop-filter: blur(3px);
    }
}
.expired-ticket::before{
    content: "Expired";
    background-color: rgb(255, 0, 0);
    top: -10px;
    left: -10px;
    position: absolute;
    border-radius: 5px;
    z-index: 2;
    padding: 5px;
}
.Editticket{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    transition: 0.2s all ease-in-out;
    padding: 0;
    cursor: pointer;
}
.edittext{
    opacity: 0;
    transition: 0.3s all ease-in-out;
}
.Ticket:hover .Editticket{
    background-color: rgba(0, 0, 0, 0.778);
    .edittext{
        opacity: 1;
    }
}
.CancelAdingticket{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 20px;
}
.searchbarparent{
    width: 100%;
    position: sticky;
    display: flex;
    z-index: 1;
    margin: 0;
    justify-content: center;
}
.searchbaralign{
 width: 86%;
}
.searchbar{
  padding: 10px 20px 10px 20px;
  border-radius: 10px;
  border: none;
  outline: none;
}



@media screen and (max-width : 550px){
    .Createticketbutton{
        height: 60px;
    }
}