
<!--Modal-->
<div class="ModalWindowParent" *ngIf="Modal">
  <div class="ModalWindow">
    <div class="CloseModal">
       <button class="cancel"  (click)="hideModal()"><mat-icon>close</mat-icon></button>
    </div>
    <p class="Question modalName">{{matchingTicket.title}}</p>
    <div class="TicketModal">
      <img [src]="matchingTicket.photo" alt="" class="TicketImageModal">
    </div>
    <div class="modalDates">
      <div class="modalDateAlign">
         <mat-icon class="datecolor">calendar_today</mat-icon>
         <p class="Question">{{ matchingTicket.activation_Date | date: 'MMM d' }}</p>
      </div>
      <div class="modalDateAlign">
        <mat-icon class="datecolor">access_time </mat-icon> 
        <p class="Question">{{ matchingTicket.activation_Date | date: 'h : mm' }}</p>
     </div>
     
    </div>
    <div class="bottomQuestion">
      <div class="ticketsellingCo">
      <div class="buyCountFlex">Buy <b> {{ticketCount}} </b>  <p class="alignHard"><mat-icon class="datecolor"> confirmation_number</mat-icon>Ticket?</p></div>
      </div> 
    </div>
    <div class="modalButtonAlign">
      <button class="submitbuttons buy" (click)="BuyTicket()"><span class="text">Pay:<p class="price">{{matchingTicket.price * SellingForm.value.TicketCount}}$</p> </span></button>
    </div>
  </div>
</div> 


<!--Little Modal-->
<div class="SmallModalParent" *ngIf="SmallModal">
  <div class="SmallModal">
    <p class="SmallmodalText">{{SmallModalText}}</p>
  </div>
</div>

<div class="CenterBody">
  <div class="heightzeroheader">
   <div class="exitAlign">
    <button class="Exitbutton" (click)="Exit()"><mat-icon class="flipicon">exit_to_app</mat-icon>Back</button>
    <div class="viewCount">
      <mat-icon>visibility</mat-icon>
      {{matchingTicket?.viewCount}}
    </div>
   </div>
  </div>
    <div class="FountTicketParent" *ngIf="matchingTicket">
        <div class="firstSection">
          <div class="heightzero">
            <div class="titleParent">
              <div class="dataalign">
                <p class="Title"> {{matchingTicket.title}}</p>
              </div>
            </div>  


            <div class="ticketInformation">
              <div class="data">
                <b class="datatitles">Date :</b>
                <p class="Datetime">{{ matchingTicket.activation_Date | date: 'MMM d' }}</p>
                <p class="Datetime">|</p>
                <p class="Datetime DatetimeHour">{{ matchingTicket.activation_Date | date: 'h:mm a' }}</p>
              </div>
              <div class="data">
                <b class="datatitles">Genre :</b><p class="datatext"> {{matchingTicket.genre}} </p>
              </div>
              <div class="data">
                <b class="datatitles">Price :</b> <p class="datatext">{{matchingTicket.price}}$</p>
              </div>
              <div class="data description">
                <b class="datatitles">Description :</b> 
                <p class="datatext scrolldescription">{{matchingTicket.description}}</p>
              </div>

              <div class="buyPannel" *ngIf="matchingTicket.ticketCount > 0"> 
                <div class="data">
                  <b class="datatitles">Buy Ticket</b>
                </div>
                <div class="paymentAlign">
                  <form [formGroup]="SellingForm" class="sellingForm" *ngIf="soldOut">
                    <div class="input-container">
                      <button class="decrement-button" (click)="decrement()">-</button>
                      <div class="countDisplay">
                        <div class="ticketsellingCount">
                          <mat-icon>confirmation_number</mat-icon>
                          <input 
                          type="number" 
                          formControlName="TicketCount" 
                          class="sellinginput" 
                          [value]="ticketCount" 
                          hidden />
                          <div sellinginput>{{ticketCount}}</div>
                        </div> 
                        <div class="imageCard">
                          <img [src]="matchingTicket.photo" class="imageCardPhoto" alt="">
                        </div>                   
                      </div>
                      <button class="increment-button" (click)="increment()" *ngIf="increment">+</button>
                    </div> 
                  </form>
                  <button 
                  class="fancy" 
                  (click)="showModal()" 
                  [attr.disabled]="!isTicketAvailable ? true : null"
                  [ngClass]="{'disabled_button': !isTicketAvailable}">
                  <span class="text">Price<p class="price">{{matchingTicket.price * SellingForm.value.TicketCount}}$</p> </span>
                </button>
                </div>
              </div>
            </div> 
          </div>

          <div class="buyPannel TktSoldout" *ngIf="matchingTicket.ticketCount <= 0">
            sold out!
          </div>
        </div>
        <div class="foundticket">
          <div class="Imagecontainer">
            <img [src]="matchingTicket.photo" alt="" class="TicketImage">
          </div>
        </div>
   </div> 
</div>



<div class="sugestions" *ngIf="foundtickets"> 
  <div class="SugestionsText">Sugestions from {{matchingTicket?.publisher.userName}} </div>
  <div class="Ticket_parent">
    <div class="Ticket" *ngFor="let tkt of foundtickets; let i = index">
      <div class="TicketFlex" (click)="NewMatchingTicket(tkt.id)">
          <div class="TicketImageContainer">
              <img [src]="tkt.photo" alt="" class="ticketimage">
          </div>
          <p class="sugestionTicketTitle">{{tkt.title}}</p>
      </div>
    </div>    
   </div> 
 </div>
