
<!--Modal-->
<div class="ModalWindowParent" *ngIf="Modal">
  <div class="ModalWindow">
    <div class="CloseModal">
       <button class="cancel"  (click)="hideModal()"><mat-icon>close</mat-icon></button>
    </div>
    <p class="modal-ticket-title">{{matchingTicket.title}}</p>
    <div class="TicketModal">
      <img [src]="matchingTicket.photo" alt="" class="TicketImageModal">
      <div class="">
        <p class="payment-resp">{{matchingTicket.price * SellingForm.value.TicketCount}} ₾</p>
      </div>
    </div>
    <div class="payment-data-align">
      <div class="payment-gap">
         <div class="totalprice"> {{"CHOSEN" | translate}}:  <b class="payment-resp"> {{ticketCount}} </b>  <p class="payment-resp">{{"TICKET"|translate}} </p></div>
         <div class="totalprice">{{"TOTALPAY" | translate}}: <p class="payment-resp">{{matchingTicket.price * SellingForm.value.TicketCount}} ₾</p></div>
      </div> 
    </div>
    <div class="modalButtonAlign">
      <button class="submitbuttons buy" (click)="BuyTicket()"><span class="pay-text">{{"PAY" |translate}} <p> {{matchingTicket.price * SellingForm.value.TicketCount}} ₾</p> </span></button>
    </div>
  </div>
</div> 


<div class="ModalWindowParent modal-notlogged" *ngIf="notLoggedModal">
  <div class="ModalWindow notlogged-gap">
    <div class="CloseModal">
      <button class="cancel"  (click)="HideNotLoggedModal()"><mat-icon>close</mat-icon></button>
    </div>
    <div class="not-logget-resp">
      {{"NOTLOGGED" | translate}}
    </div>
    <button class="go-to-login" [routerLink]="routes.login">
      {{"GOTOLOGIN" | translate}}
    </button>
  </div>
</div>

<!--Little Modal-->
<div class="SmallModalParent" *ngIf="SmallModal">
  <div class="SmallModal">
    <p class="SmallmodalText">{{SmallModalText}}</p>
  </div>
</div>

<div class="CenterBody">
    <div class="FountTicketParent" *ngIf="matchingTicket">
        <div class="firstSection">
          <div class="heightzero">
            <div class="titleParent">
              <div class="dataalign">
                <p class="Title"> {{matchingTicket.title}}</p>
              </div>
            </div>  


            <div class="ticketInformation">
              <div class="data">
                <b class="datatitles"> {{"DATE"|translate}} : </b>
                <p class="Datetime">{{ matchingTicket.activation_Date | date: 'MMM d' }}</p>
                <p class="Datetime">|</p>
                <p class="Datetime DatetimeHour">{{ matchingTicket.activation_Date | date: 'h:mm a' }}</p>
              </div>
              <div class="data">
                <b class="datatitles"> {{"GENRE"|translate}}  :</b><p class="datatext"> {{matchingTicket.genre}} </p>
              </div>
              <div class="data">
                <b class="datatitles"> {{"PRICE"|translate}}  :</b> <p class="datatext">{{matchingTicket.price}} ₾</p>
              </div>
              <div class="data description">
                <b class="datatitles"> {{"DESCRIPTION"|translate}}  :</b> 
                <p class="datatext scrolldescription">{{matchingTicket.description}}</p>
              </div>

              <div class="buyPannel" *ngIf="matchingTicket.ticketCount > 0"> 
                <div class="data">
                  <b class="datatitles"> {{"BUYTICKET"|translate}} </b>
                </div>
                <div class="paymentAlign">
                  <form [formGroup]="SellingForm" class="sellingForm" *ngIf="!soldOut">
                    <div class="input-container">
                      <button class="decrement-button" (click)="decrement()" [ngClass]="{'decrement-animation': ticketCount <= 0}">-</button>
                      <div class="countDisplay">
                        <div class="ticketsellingCount">
                          <mat-icon>confirmation_number</mat-icon>
                          <input 
                          type="number" 
                          formControlName="TicketCount" 
                          class="sellinginput" 
                          [value]="ticketCount" 
                          hidden />
                          <div sellinginput>{{ticketCount}}</div>
                        </div> 
                        <div class="imageCard">
                          <img [src]="matchingTicket.photo" class="imageCardPhoto" alt="">
                        </div>                   
                      </div>
                      <button class="increment-button" (click)="increment()" *ngIf="increment"  [ngClass]="{'decrement-animation': ticketCount >= 10}">+</button>
                    </div> 
                  </form>
                  <button 
                  class="fancy" 
                  (click)="showModal()" 
                  [attr.disabled]="!isTicketAvailable ? true : null"
                  [ngClass]="{'disabled-buy-button': !IsIncrementMoreThanZero()}">
                  <span class="text"><p class="price">{{"NEXT"|translate}}</p> </span>
                </button>
                </div>
              </div>
            </div> 
          </div>

          <div class="buyPannel TktSoldout" *ngIf="matchingTicket.ticketCount <= 0">
            {{"SOLDOUT"|translate}} 
          </div>
        </div>
        <div class="foundticket">
          <div class="Imagecontainer">
            <img [src]="matchingTicket.photo" alt="" class="TicketImage">
          </div>
        </div>
   </div> 
</div>



<div class="sugestions" *ngIf="foundtickets"> 
  <div class="publisher-align">
    <div class = "publisher-img-container">
      <img [src]="matchingTicket.publisher?.logo" alt="" class="publisher-img">
    </div>
    <div class="SugestionsText">
      <p class="publisher-username">
        {{matchingTicket.publisher?.userName}}  
      </p>
     <p class="sugestions-text">
        {{"SUGGESTIONS" | translate}}
     </p>
    </div>
  </div>
  <div class="Ticket_parent">
    <div class="Ticket" *ngFor="let tkt of foundtickets; let i = index">
      <div class="TicketFlex" (click)="NewMatchingTicket(tkt.id)">
          <div class="TicketImageContainer">
              <img [src]="tkt.photo" alt="" class="ticketimage">
          </div>
          <p class="sugestionTicketTitle">{{tkt.title}}</p>
      </div>
    </div>    
  </div> 
</div>
