:host{
  width: 100%;
  height: 100%;
}
.ModalWindowParent{
  width: 100%;
  display: flex;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 3;
  backdrop-filter: blur(5px);
}
.ModalWindow {
  background: linear-gradient(270deg, rgb(18, 6, 50), #303706, rgb(18, 6, 50));
  background-size: 800% 800%;
  -webkit-animation: AnimationName 20s ease infinite;
  -moz-animation: AnimationName 20s ease infinite;
  animation: AnimationName 20s ease infinite;
  padding: 10px 20px 20px 20px ;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease;
  z-index: 10;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 0px 10px black;
  width: 100%;
  max-width: 600px;
}
@keyframes AnimationName {
  0% {
    background-position: 0% 50%
  }

   50% {
    background-position: 100% 50%
  }

  100% {
    background-position: 0% 50%
  }
}
.bottomQuestion{
  width: 100%;
  border-top: 2px solid white;
  display: flex;
  justify-content: center;
  padding: 10px 0px 10px 0px;
}
.modalDates{
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.modalDateAlign{
  display: flex;
  align-items: center;
}
.datecolor{
  color: white;
}
.buyCountFlex{
  display: flex;
  align-items: center;
  color: white;
  gap: 10px;
}
.alignHard{
  display: flex;
  align-items: center;
}
.Question{
  color: white;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 30px;
}
.modalName{
  font-size: 40px;
}
.TicketModal{
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  height: 250px;
  z-index: 3;
}
.TicketImageModal{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.modalButtonAlign{
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}
.submitbuttons{
  color: white;
  border: none;
  box-shadow: 0px;
  border-radius: 3px;
  padding: 5px;
}
.sellingForm{
  display: flex;
  justify-content: center;
}
.input-container {
  display: flex;
  align-items: center;
  gap: 20px;
}
.countDisplay{
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}
.sellinginput {
  width: 30px;
  text-align: center;
  border: none;
  background: transparent;
  color: white;
}

.increment-button, .decrement-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.increment-button:hover, .decrement-button:hover {
  background-color: #0056b3;
}

.buy{
  background-color: transparent;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
  display: flex;
  justify-content: center;
  border: 1px solid white;
}
.buy:hover{
  background-color: rgba(0, 128, 0, 0.523);
  letter-spacing: 1px;
}
.text{
  display:flex;
  align-items: center;
  gap: 10px;
}
.price{
  color: goldenrod;
  font-weight: bold;
  font-size: 20px;
}
.CloseModal{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.cancel{
  padding: 2px;
  margin: 0;
  padding: 0;
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  display: grid;
}
.cancel:hover{
  background-color: red;
}
.disabled_button {
  background-color: gray;
  border: 10px solid blue;
  cursor: not-allowed;
  pointer-events: none; 
  opacity: 0.6;
  cursor: not-allowed;
}
.SmallModalParent{
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.SmallModal{
  padding: 0px 30px 0px 30px;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 509;
}
.SmallModal::before{
  content: '';
  bottom: -2px;
  left: -2px;
  width: 20px;
  height: 20px;
  background-color: white;
  position: absolute;
  border-radius: 50px 0px 50px 0px;
}
.SmallmodalText{
  font-size: 15px;
  font-weight: 600;
  max-width: 200px; 
  word-break: break-all;
}





$background :#1e3d59;
.CenterBody{
    width: 100%;
    display: flex;
    height: auto;
    flex-direction: column;
    height: auto;
}
.FountTicketParent{
    width: 100%;
    height: auto;
    display: flex;
    z-index: 2;
}
.firstSection{
  display: flex;
  width: 65%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  backdrop-filter: blur(20px);
  align-items: center;
  background-color: rgba(0, 0, 0, 0.204);
  padding-bottom: 50px;
  border-bottom: 2px  solid black;
  box-shadow: 2px 0px 10px black;
}
.foundticket{
    transition: .4s ease-in-out;
    width: 35%;
    border-radius: 10px;
    font-family: sans-serif;
    font-weight: 600;
    transition: 0.2s all ease-in-out;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 10px;
    height: 100%;
    position: fixed;
    right: 0;
}
.MainTitle{
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    width: 100%;
    justify-content: center;
    font-size: 40px;
}
.Exitbutton{
    display: flex;
    align-items: center;
    padding: 5px;
    font-weight: 600;
    border: none;
    cursor: pointer;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    color: black;
    transition: 0.3s all ease-in-out;
    border-radius: 10px;
    width: 100px;
}
.Exitbutton:hover{
    letter-spacing: 5px;
}
.exitAlign{
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}
.viewCount{
  color: white;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 20px;
}
.flipicon{
    rotate: (180deg);
}
.publisher{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.publisherPhoto{
    width: 100px;    
    border-radius: 50%;
}
.publisherName{
    color: white;
}
.Imagecontainer{
    width: auto;
    display: flex;
    justify-content: start;
    align-items: center;
    width: auto;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.heightzero{
    height: auto;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-top: 5px;
    height: 100%;
    width: 100%;
    align-items: center;
}
.TicketImage{
    height: auto;
    width: 100%;
    transition: 0.3s all ease-in-out;
    height: 100%;
    object-fit: cover;
}
.titleParent{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
}
.dataalign{
    display: flex;
    flex-direction: column;
    width: 85%;
}
.Title{
    font-size: 30px;
    color: white;
    margin-top: 20px;
    border-bottom: 1px solid white;
}
.dateflex{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 85%;
    justify-content: flex-start;
}
.Datetime{
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 18px;
}
.DatetimeHour{
    color:white;
}
.dateicons{
  font-size: 18px;
  width: 18px;
  height: 18px;
}




.ticketInformation{
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: white;
  height: 100%;
  gap: 20px;
  margin-top: 30px;
}
.data{
  width: 85%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.datatitles{
  color: lightcoral;
  font-size: 22px;
}
.datatext{
  font-size: 18px;
}
.description {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 20px;
  align-items: flex-start;
}
.scrolldescription{
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  overflow-y: auto;
  position: relative;
  align-items: flex-start;
  max-height: 200px;
}
.scrolldescription::-webkit-scrollbar {
  display: none;
}



.BuyTicketButton{
    padding: 20px;
    font-size: 20px;
    cursor: pointer;
}
.buyPannel{
    display:flex;
    border-radius: 5px;
    flex-direction: column;
    width: 80%;
    align-items: flex-start;
}
.paymentAlign{
  width: 80%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.imageCard{
  width: 150px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}
.imageCardPhoto{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.ticketsellingCount{
  position: absolute;
  right: -10px;
  top: -10px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.937);
  display: flex;
  align-items: center;
  z-index: 2;
}
.TktSoldout{
  display: flex;
  align-items: center;
  background-color: rgb(122, 8, 8);
  color: white;
  padding: 30px 0px 30px 0px;
  font-size: 25px;
  cursor: not-allowed;
  width: 100%;
}
.SecondSection{
    display: flex;
    width: 100%;
    flex-direction: column;
}
.Datatitle{
    font-weight: 500;
    margin: 0;    
    font-weight: bold;
}
.matchingticketData{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.TicketLeft{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}
.sugestions{
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}
.SugestionsText{
    font-size: 20px;
    color: white;
}
.Ticket_parent {
  width: 100%;
  margin-bottom: 30px;
  margin-top: 30px;
  row-gap: 20px;
  max-width: 1200px;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start; 
  flex-wrap: wrap;
  display: flex;
}

.Ticket {
  color: white;
  font-family: sans-serif;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  margin: 10px;
  width: auto;
}

.Ticket:hover {
  scale: 1.02;
}
.TicketFlex {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.titlecenter{
  display: flex;
  width: 100%;
  justify-content: center;
  transition: 0.2s all ease-in-out;
  max-width: 380px;
  overflow: hidden;
}
.Ticket_Title{
  font-size: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
  margin: 0;
  height: 20px;
  border-radius: 5px;
  z-index: 2;
}
.TicketImageContainer {
  width: 380px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  position: relative;
  border-radius: 5px;
}
.ticketimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.3s all ease-in-out;
}

.data_style{
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: 15px;
    margin: 0;
    padding: 0;
    height: 30px;
}
.iconsize{
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.publisherData{
  display: flex;
  align-items: center;
  justify-content :space-between;
  width: 100%;
}
.PublisherProfile{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.PublisherImg{
  width: 30px;
  border-radius: 50%;
}






//buy Button
.fancy {
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px;
    transition: 0.3s all ease-in-out;
   }
   .fancy:hover{
    cursor: pointer;
    background-color: rgba(245, 245, 245, 0.181);
   }
   .text {
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: white;
   }
   








@media screen and (max-width : 775px){
    .FountTicketParent{
      flex-direction: column-reverse;
      margin-top: 0px;
    }
    .foundticket{
      height: 250px;
      width: 100%;
      position: relative;
    }
    .firstSection{
      width: 100%;
    }
    .Ticket_parent{
      width: 100%;
    }
    .TicketImageContainer{
      width: 300px;
    }
    .sugestions{
      width: 100%;
    }
}
@media screen and (max-width : 640px){
  .TicketImageContainer{
    width: 400px;
  }
}
@media screen and (max-width : 600px){
  .foundticket{
    height: 200px;
  }
  .data{
    width: 90%;
  }
  .datatitles{
    font-size: 18px;
    
  }
  .darainfo{
    font-size: 15px;
  }
  .TicketModal{
    height: 200px;
  }
}
@media screen and (max-width : 450px){
  .TicketImageContainer{
    width: 350px;
    height: 120px;
  }
  .foundticket{
    height: 140px;
  }
  .Ticket_parent{
    gap: 10px;
  }
}
@media screen and (max-width : 350px){
  .TicketImageContainer{
    width: 250px;
  }
}
@media screen and (max-width : 280px){
  .TicketImageContainer{
    width: 220px;
    height: 100px;
  }
}