:host {
  width: 100%;
  height: 100%;
}

.ModalWindowParent {
  width: 100%;
  display: flex;
  height: 100%;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 3;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.619);
  animation: modalAnimation 0.3s;
}

.ModalWindow {
  background: linear-gradient(270deg, rgb(0, 5, 24), #011b0e, rgb(0, 5, 24));
  background-size: 800% 800%;
  animation: AnimationName 20s ease infinite;
  padding: 10px 20px 20px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  transition: opacity 0.3s ease;
  z-index: 10;
  transition: 0.3s all ease-in-out;
  box-shadow: 0px 0px 10px black;
  width: 100%;
  max-width: 500px;
  gap: 20px;
  border: 1px solid grey;
}

@keyframes AnimationName {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
@keyframes modalAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.modal-notlogged {
  z-index: 4;
}

.notlogged-gap {
  gap: 30px;
}

.not-logget-resp {
  color: white;
  font-size: 22px;
  text-align: center;
  max-width: 500px;
}

.go-to-login {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid rgb(252, 70, 100);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  border-radius: 20px;
}

.go-to-login::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 70, 100);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.go-to-login:hover::before {
  transform: translateX(0);
}

.alignHard {
  display: flex;
  align-items: center;
}

.payment-data-align {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.payment-gap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.totalprice {
  color: lightcoral;
  font-weight: bold;
  display: flex;
  gap: 5px;
}

.green-emoji {
  color: green;
}

.modal-ticket-title {
  font-size: 25px;
  color: whitesmoke;
}

.payment-resp {
  color: white;
}

.TicketModal {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  height: 200px;
  z-index: 3;
}

.TicketImageModal {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.modalButtonAlign {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 20px;
}

.submitbuttons {
  color: white;
  border: none;
  box-shadow: 0px;
  border-radius: 3px;
  padding: 5px;
}

.sellingForm {
  display: flex;
  justify-content: center;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 20px;
}

.countDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}

.sellinginput {
  width: 30px;
  text-align: center;
  border: none;
  background: transparent;
  color: white;
}

.increment-button, .decrement-button {
  background-color: #007bff;
  border-radius: 10px;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}

.increment-button:hover, .decrement-button:hover {
  background-color: #0056b3;
}

.decrement-animation {
  opacity: 0;
  cursor: default;
}

.buy {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid green;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
}

.buy::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: green;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.buy:hover::before {
  transform: translateX(0);
}

.pay-text {
  display: flex;
  align-items: center;
  gap: 18px;
  text-shadow: 0px 0px 5px black;
}

.CloseModal {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.cancel {
  padding: 2px;
  margin: 0;
  padding: 0;
  color: white;
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: 0.2s all ease-in-out;
  display: grid;
}

.cancel:hover {
  background-color: red;
}

.fancy {
  border-radius: 10px;
  background-color: transparent;
  border: 1px solid white;
  padding: 10px;
  transition: 0.3s all ease-in-out;
  display: none;
  opacity: 0;
}

.fancy {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid rgb(252, 70, 100);
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  display: none;
}

.fancy::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(252, 70, 100);
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.fancy:hover::before {
  transform: translateX(0);
}

.disabled-buy-button {
  opacity: 0.5;
  display: flex;
  animation: disabledButtonAnimation 1s forwards;
}

@keyframes disabledButtonAnimation {
  0% {
    opacity: 0;
    display: flex;
  }
  100% {
    opacity: 1;
  }
}
.SmallModalParent {
  width: 100%;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 509;
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.619);
  animation: 0.3s disabledButtonAnimation;
}

.SmallModal {
  padding: 50px;
  border-radius: 10px;
  background: linear-gradient(270deg, rgb(0, 5, 24), #000000, rgb(0, 5, 24));
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-shadow: 0px 0px 1px white;
  gap: 10px;
  color: white;
}

.SmallmodalText {
  font-size: 15px;
  font-weight: 600;
  word-break: break-all;
  color: white;
}

.bought-text-color {
  color: rgb(242, 132, 150);
  font-size: 20px;
}

.CenterBody {
  width: 100%;
  display: flex;
  height: auto;
  flex-direction: column;
  height: auto;
  padding-top: 51px;
}

.FountTicketParent {
  width: 100%;
  height: auto;
  display: flex;
  z-index: 2;
}

.firstSection {
  display: flex;
  width: 65%;
  height: 100%;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(0, 0, 0, 0.511);
  align-items: centergba(0, 0, 0, 0.701);
  padding-bottom: 50px;
  border-bottom: 2px solid black;
}

.foundticket {
  transition: 0.4s ease-in-out;
  width: 35%;
  border-radius: 10px;
  font-weight: 600;
  transition: 0.2s all ease-in-out;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 10px;
  height: 100%;
  position: fixed;
  right: 0;
}

.MainTitle {
  color: white;
  display: flex;
  align-items: center;
  gap: 20px;
  width: 100%;
  justify-content: center;
  font-size: 40px;
}

.Exitbutton {
  display: flex;
  align-items: center;
  padding: 5px;
  font-weight: 600;
  border: none;
  cursor: pointer;
  gap: 10px;
  background-color: #ffffff;
  border-radius: 10px;
  color: black;
  transition: 0.3s all ease-in-out;
  border-radius: 10px;
  width: 100px;
}

.Exitbutton:hover {
  letter-spacing: 5px;
}

.exitAlign {
  display: flex;
  align-items: center;
  width: 85%;
  justify-content: space-between;
}

.flipicon {
  rotate: 180deg;
}

.publisher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.publisherPhoto {
  width: 100px;
  border-radius: 50%;
}

.publisherName {
  color: white;
}

.Imagecontainer {
  display: flex;
  justify-content: start;
  align-items: center;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.heightzero {
  height: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-top: 5px;
  height: 100%;
  width: 100%;
  align-items: center;
}

.TicketImage {
  height: auto;
  width: 100%;
  transition: 0.3s all ease-in-out;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.titleParent {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 40px;
  align-items: center;
}

.dataalign {
  display: flex;
  width: 85%;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  max-width: 860px;
}

.Title {
  font-size: 30px;
  color: white;
  border-bottom: 1px solid white;
}

.dateflex {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 85%;
  justify-content: flex-start;
}

.Datetime {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}

.DatetimeHour {
  color: white;
}

.dateicons {
  font-size: 18px;
  width: 18px;
  height: 18px;
}

.ticketInformation {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  color: white;
  height: 100%;
  gap: 20px;
  margin-top: 30px;
}

.data {
  width: 85%;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  max-width: 860px;
}

.datatitles {
  color: rgb(242, 132, 150);
  font-size: 22px;
}

.datatext {
  font-size: 18px;
}

.description {
  display: flex;
  flex-direction: column;
  width: 85%;
  padding: 20px;
  align-items: flex-start;
}

.scrolldescription {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
  overflow-y: auto;
  position: relative;
  align-items: flex-start;
  max-height: 200px;
}

.scrolldescription::-webkit-scrollbar {
  display: none;
}

.BuyTicketButton {
  padding: 20px;
  font-size: 20px;
  cursor: pointer;
}

.buyPannel {
  display: flex;
  border-radius: 5px;
  flex-direction: column;
  width: 80%;
  align-items: flex-start;
  gap: 20px;
  max-width: 780px;
}

.paymentAlign {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}

.imageCard {
  width: 150px;
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
}

.imageCardPhoto {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.ticketsellingCount {
  position: absolute;
  right: -15px;
  top: -15px;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.679);
  display: flex;
  align-items: center;
  z-index: 2;
  border: 1px solid rgb(252, 70, 100);
  padding: 5px;
}

.TktSoldout {
  display: flex;
  align-items: center;
  background-color: rgb(122, 8, 8);
  color: white;
  padding: 30px 0px 30px 0px;
  font-size: 25px;
  width: 100%;
}

.SecondSection {
  display: flex;
  width: 100%;
  flex-direction: column;
}

.Datatitle {
  font-weight: 500;
  margin: 0;
  font-weight: bold;
}

.matchingticketData {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.TicketLeft {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.sugestions {
  display: flex;
  width: 65%;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.SugestionsText {
  color: white;
  text-align: center;
  gap: 10px;
}

.publisher-username {
  font-size: 20px;
}

.sugestions-text {
  color: rgb(200, 199, 199);
  font-size: 16px;
}

.publisher-img-container {
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.publisher-img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.publisher-align {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 16px;
}

.Ticket_parent {
  width: 90%;
  margin-bottom: 30px;
  margin-top: 30px;
  row-gap: 20px;
  max-width: 1200px;
  justify-content: center;
  flex-direction: row;
  align-items: flex-start;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.Ticket {
  color: white;
  transition: 0.2s all ease-in-out;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: space-between;
  border-radius: 10px;
  align-items: center;
  margin: 10px;
  width: auto;
}

.Ticket:hover {
  scale: 1.02;
}

.TicketFlex {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 10px;
}

.titlecenter {
  display: flex;
  width: 100%;
  justify-content: center;
  transition: 0.2s all ease-in-out;
  max-width: 380px;
  overflow: hidden;
}

.Ticket_Title {
  font-size: 20px;
  padding: 5px;
  background-color: rgba(0, 0, 0, 0.692);
  color: white;
  margin: 0;
  height: 20px;
  border-radius: 5px;
  z-index: 2;
}

.TicketImageContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  position: relative;
  border-radius: 5px;
}

.ticketimage {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: 0.3s all ease-in-out;
}

.data_style {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
  margin: 0;
  padding: 0;
  height: 30px;
}

.iconsize {
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.publisherData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.PublisherProfile {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.PublisherImg {
  width: 30px;
  border-radius: 50%;
}

@media screen and (min-width: 1375px) {
  .Ticket_parent {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 1075px) {
  .FountTicketParent {
    flex-direction: column-reverse;
    margin-top: 0px;
  }
  .foundticket {
    height: 250px;
    width: 100%;
    position: relative;
  }
  .firstSection {
    width: 100%;
  }
  .sugestions {
    width: 100%;
  }
  .Ticket_parent {
    width: 90%;
    grid-template-columns: repeat(3, 1fr);
  }
  .data {
    width: 90%;
  }
  .dataalign {
    width: 90%;
  }
}
@media screen and (max-width: 950px) {
  .Ticket_parent {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 700px) {
  .Ticket_parent {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media screen and (max-width: 600px) {
  .datatitles {
    font-size: 18px;
  }
  .darainfo {
    font-size: 15px;
  }
  .TicketModal {
    height: 200px;
  }
}
@media screen and (max-width: 450px) {
  .TicketImageContainer {
    height: 120px;
  }
  .Ticket_parent {
    gap: 10px;
  }
  .foundticket {
    height: 200px;
  }
}
@media screen and (max-width: 280px) {
  .TicketImageContainer {
    height: 100px;
  }
}/*# sourceMappingURL=full-ticket.component.css.map */