:host {
  width: 100%;
  height: 100%;
}

//edit profile
.edit-profile {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  animation: dashboardAnimtion 0.5s;
}
.edit-profile-container {
  display: flex;
  width: 90%;
  max-width: 1600px;
  flex-wrap: wrap-reverse;
  justify-content: space-between;
  gap: 30px;
  align-items: center;
}
.profile-form-align {
  display: flex;
  background-color: rgba(0, 0, 0, 0.199);
  padding: 10px;
  border-radius: 10px;
  flex-direction: column;
}
.account-name-parent {
  display: flex;
  align-items: center;
  gap: 16px;
}
.account-name {
  font-size: 25px;
  color: white;
  text-align: center;
}
.editicon {
  color: lightcoral;
  cursor: pointer;
}
.account-name-label {
  color: white;
}
.exitfrom-profile {
  width: 100%;
}
.exit-from-account {
  display: inline-block;
  padding: 10px;
  font-size: 16px;
  font-weight: 700;
  color: white;
  border: 3px solid red;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  text-decoration: none;
  overflow: hidden;
  z-index: 1;
  font-family: inherit;
  border-radius: 10px;
  align-items: center;
  height: 40px;
}

.exit-from-account::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: red;
  transform: translateX(-100%);
  transition: all 0.3s;
  z-index: -1;
}

.exit-from-account:hover::before {
  transform: translateX(0);
}

.save-image-button {
  background-color: #ffffff00;
  color: #fff;
  border: green 0.2em solid;
  padding: 5px;
  border-radius: 11px;
  text-align: right;
  transition: all 0.6s ease;
  opacity: 0;
  display: none;
  justify-content: center;
  align-items: center;
}

.save-image-button:hover {
  background-color: green;
  cursor: pointer;
}

.save-image-button svg {
  width: 1.6em;
  margin: -0.2em 0.8em 1em;
  position: absolute;
  display: flex;
  transition: all 0.6s ease;
}

.save-image-button:hover svg {
  transform: translateX(5px);
}

.text {
  margin: 0 1.5em;
}
@keyframes saveimageaAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.big-nologo {
  width: 100px;
  height: 100px;
  font-size: 100px;
}
.disabled {
  cursor: pointer;
  opacity: 1;
  transition: 0.3s all ease-in-out;
  animation: saveimageaAnimation 1s;
  opacity: 1;
  display: flex;
}
.update-photo-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.profile-image-and-name {
  display: flex;
  align-items: center;
  gap: 18px;
  flex-wrap: wrap;
  justify-content: center;
}
.profile-image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
}
.img-save-align {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.profile-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.no-photo {
  width: 120px;
  height: 120px;
  font-size: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change-photo-button {
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  border: none;
  opacity: 0.3;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.profile-image-container:hover .change-photo-button {
  opacity: 1;
}
.username-input {
  color: white;
  border: none;
  outline: none;
  background-color: transparent;
  padding: 5px;
  width: auto;
}
.save-username-parent {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
  padding-top: 16px;
}
.save-username-button {
  border-radius: 5px;
  padding: 5px;
  border: none;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
}
.save-username-button:hover {
  box-shadow: 0px 0px 5px white;
}
.disbaled-input-parent {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.enable-button {
  background-color: transparent;
  border: none;
}
.disabled-input {
  border-bottom: 1px solid white;
  animation: inputanimation 0.5s;
}
@keyframes inputanimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.transparent-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.close-editing {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

//managment
.managment-parent {
  width: 100%;
  display: flex;
  padding-top: 50px;
  animation: dashboardAnimtion 0.5s;
  align-items: center;
  flex-direction: column;
}
.managment-align {
  width: 90%;
  display: flex;
  background-color: rgba(0, 0, 0, 0.358);
  padding: 20px 0px;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1600px;
  justify-content: center;
}
.managment-title {
  color: white;
}
.managment {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  width: 95%;
  gap: 20px;
}
.manage-accounts {
  color: white;
  font-family: inherit;
  display: flex;
  justify-content: center;
  gap: 8px;
  flex-direction: column;
  padding: 8px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.468);
  align-items: center;
}
.name-lastname {
  display: flex;
  align-items: center;
  gap: 10px;
}
.manage-data {
  display: flex;
  gap: 10px;
}
.data-titles {
  color: rgb(236, 160, 160);
}

//dashboard

.dashboard-parent {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.dashbord-align {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.249);
  max-width: 1600px;
  border-radius: 20px;
  animation: dashboardAnimtion 0.5s;
  padding: 20px 0px;
}
.scanner {
  border-radius: 10px;
  background-color: rgba(253, 253, 253, 0.047);
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: 0.3s all ease-in-out;
  justify-content: center;
}
.scanner:hover {
  background-color: rgba(255, 255, 255, 0.219);
}
.qr-code {
  opacity: 0.5;
}
@keyframes dashboardAnimtion {
  0% {
    opacity: 0;
    scale: 0;
  }

  100% {
    opacity: 1;
  }
}
.dashboard {
  width: 95%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.dashboard-title {
  color: white;
  font-size: 25px;
}
.dash-green {
  color: green;
}
.dash-red {
  color: red;
}
.total-stat-parent {
  max-width: 1600px;
  width: 100%;
  display: flex;
  justify-content: center;
  overflow-x: scroll;
  scrollbar-width: none;
  padding: 40px 0px;
}
.total-align {
  display: flex;
  gap: 10px;
  border-radius: 10px;
  width: 95%;
}
.total-resp {
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 20px;
}
.total-title {
  text-wrap: nowrap;
}
.total-resp-num {
  font-size: 16px;
}
.total-orange {
  color: orange;
}
.total-green {
  color: green;
  font-size: 30px;
}
.total-grey {
  color: grey;
}
.ticket {
  display: flex;
  gap: 20px;
  border-radius: 10px;
  justify-content: center;
}
.ticket-background {
  display: flex;
  background-color: rgba(0, 0, 0, 0.358);
  justify-content: space-evenly;
  border-radius: 10px;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  box-shadow: 0px 0px 1px white;
}
.ticket-image-container {
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
}
.ticket-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title-align {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ticket-title {
  color: white;
  font-size: 20px;
}
.stat-column {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.stat-title {
  color: lightcoral;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sold-color {
  color: lightgreen;
}
.total-color {
  color: white;
}
.stat-res {
  display: flex;
  align-items: center;
  color: lightgrey;
  gap: 10px;
  line-height: 0;
}
.res-num {
  display: flex;
  align-items: flex-end;
  line-height: 0;
  font-size: 20px;
  color: white;
}
.icon-roatate {
  transform: rotate(35deg);
  margin-bottom: 8px;
}
.eye-margin {
  margin-bottom: 8px;
}
.view-flex {
  display: flex;
  align-items: center;
  gap: 10px;
}
.view-count {
  display: flex;
  align-items: center;
}

@media screen and (min-width: 1365px) {
  .dashboard {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 1065px) {
  .dashboard {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 765px) {
  .managment {
    grid-template-columns: repeat(2,1fr);
  }
}

@media screen and (max-width: 665px) {
  .dashboard {
    gap: 10px;
  }
}

@media screen and (max-width: 600px) {
  .dashboard {
    grid-template-columns: repeat(1, 1fr);
  }
  .account-name {
    font-size: 20px;
  }
  .dashboard-title {
    font-size: 20px;
  }
  .managment {
    grid-template-columns: repeat(1,1fr);
  }
}
