:host{
  width: 100%;
  height: 100%;
}
.profile-parent{
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}
.profile-aligment{
  width: 90%;
  max-width: 1600px;
  display: flex;
  flex-direction: column;
}
.dashboard-title{
  color: white;
  font-size: 25px;
  padding: 10px;
}
.my-profile{
  display: flex;
  align-items: center;
  padding-top: 30px;
}
.logo-container{
  width: 100px;
  height: 100px;
  overflow: hidden;
  border-radius: 50%;
}
.profile-logo{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.no-logo{
  width: 100%;
  height: 100%;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
}
.profile-name{
  font-size: 25px;
  color: whitesmoke;
}
.settings{
  padding: 50px;
  color: white;
}
.settings-icon{
  width: 50px;
  height: 50px;
  font-size: 50px;
}
.profile-animation{
  display: flex;
  align-items: center;
  cursor: pointer;
}
.profile-animation:hover .settings-icon{
  animation: 3s settingIcon;
}

@keyframes settingIcon {
  50%{
    transform: rotate(180deg);
  }
}




//edit profile
.edit-profile{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.exitfrom-profile{
  width: 100%;
}
.exit-from-account-parent{
  display: flex;
  width: 70%;
  justify-content: space-between;
  max-width: 1600px;
  .exit-from-account{
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    padding: 5px;
    transition: 1.3s all ease-in-out;
    cursor: pointer;
  }
  .back{
    background-color: white;
    color: black;
    padding: 10px;
  }
  .exit-from-account:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
  }
}
@keyframes saveimageaAnimation {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.big-nologo{
  width: 180px;
  height: 180px;
  font-size: 180px;
}
.save-image-button{
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  opacity: 0;
}
.disabled{
  cursor: default;
  opacity: 1;
  transition: 0.3s all ease-in-out;
  animation :saveimageaAnimation 1s; 
  opacity: 1;
}
.update-photo-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}
.profile-image-container{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.change-photo-button{
  position: absolute;
  padding: 5px;
  border-radius: 5px;
  border: none;
  opacity: 0.3;
  transition: 0.3s all ease-in-out;
  cursor: pointer;
}
.profile-image-container:hover .change-photo-button{
  opacity: 1;
}




//dashboard

.dashboard-parent{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.dashboard{
  width: 90%;
  max-width: 1600px;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap: 20px;
  justify-content: space-between;
}
.ticket{
  display: flex;
  gap: 20px;
  border-radius: 10px;
  justify-content: center;
}
.ticket-background{
  display: flex;
  background-color: rgba(0, 0, 0, 0.358);
  justify-content: space-evenly;
  border-radius: 10px;
  gap: 10px;
  flex-direction: column;
  width: 100%;
  padding: 16px;
  border: 1px solid grey;
}
.ticket-image-container{
  width: 100%;
  height: 180px;
  overflow: hidden;
  border-radius: 10px;
}
.ticket-image{
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.title-align{
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.ticket-title{
  color: white;
  font-size: 20px;
}
.stat-column{
  display: flex;
  flex-direction: column;
  gap:16px;
}
.stat-title{
  color: lightcoral;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sold-color{
  color: lightgreen;
}
.total-color{
  color: white;
}
.stat-res{
  display: flex;
  align-items: center;
  color: lightgrey;
  gap: 10px;
  line-height: 0;
}
.res-num{
  display: flex;
  align-items: flex-end;
  line-height: 0;
  font-size: 20px;
  color: white;
}
.icon-roatate{
  transform: rotate(35deg);
  margin-bottom: 8px;
}
.eye-margin{
  margin-bottom: 8px;
}
.view-flex{
  display: flex;
  align-items: center;
  gap: 10px;
}
.view-count{
  display: flex;
  align-items: center;
}


@media screen and (min-width : 1365px){
  .dashboard{
      grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width : 1065px){
  .dashboard{
      grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width : 665px){
  .dashboard{
      gap: 10px;
  }
}
@media screen and (max-width : 600px){
  .dashboard{
      grid-template-columns: repeat(1, 1fr);
  }
}
