
<!-- Profile -->
<div class="edit-profile">
   <div class="edit-profile-container">
      <div class="profile-form-align">
        <form action="" [formGroup]="EditnameForm" class="update-photo-form">
            <div class="profile-image-and-name">
                <div class="img-save-align">
                    <div class="profile-image-container">
                        <button (click)="triggerFileInput()" *ngIf="creatorCheck()" class="change-photo-button"><mat-icon >camera_alt</mat-icon></button>
                        <input id="photo" type="file" (change)="onFileChange($event)" accept="image/*" hidden>
                        <img *ngIf="imagePreview" [src]="imagePreview" alt="" class="profile-image">
                        <mat-icon class="no-logo big-nologo" *ngIf="!imagePreview ">account_circle</mat-icon>
                    </div>
                    <div *ngIf="savePhotobButton">
                        <button type="button" (click)="uploadImage()" [disabled]="!selectedFile" [ngClass]="{'disabled': selectedFile}" class="save-image-button">{{"SAVEIMAGE"|translate}}</button>
                    </div>
                </div>
                <div class="account-name-parent">
                    <p class="account-name">{{username.value}}</p>
                    <div *ngIf="!inputDisable">
                        <button class="enable-button" (click)="EnableInput()" *ngIf="creatorCheck()" ><mat-icon class="editicon" >edit</mat-icon> </button>
                    </div>
                </div>
            </div>
      </form>
        <form action="" [formGroup]="EditnameForm" *ngIf="inputDisable">
            <div class="save-username-parent">
                <div class = "disbaled-input-parent">
                    <div class="close-editing"> 
                        <label for="" class="account-name-label">{{"NAME" | translate}}</label>
                        <button class="transparent-button" (click)="DesableInput()"><mat-icon class="dash-red">close</mat-icon></button>
                    </div>
                    <input type="text" formControlName ="username" class="username-input"  [ngClass]="{'disabled-input': inputDisable}">
                </div>
                <div>
                    <button (click)="editNameFunc()" class="save-username-button" formControlName="username"> {{"SAVE" | translate}}</button>
                </div>
            </div>
        </form>
      </div>
        <button class="exit-from-account" (click)="ExitFromAccunt()">{{"EXITFROMACCOUNT" | translate}}</button>
   </div>
</div>

<!-- Managment -->

<div class="managment-parent">
    <div class="managment-align">
        <div class="scann-align">
            <div class="scanner" [routerLink]="routes.creatorScanner">
                <p class="dashboard-title">{{"OPENSCANNER" |translate}}</p>
                <qrcode class="qr-code" [qrdata]="routes.creatorScanner"></qrcode>
            </div>

            <div class="managment-title" (click)="expandManagment()">
                {{"MANAGMENT"|translate}}
                <mat-icon class="expand" [ngClass]="{'icon-anim': managmentVisible}">expand_more</mat-icon>
            </div>

            <div class="managment"  [ngClass]="{'managment-visible': managmentVisible}">
                <div class="manage-accounts" *ngFor="let i of Managment; let index = index" [ngClass]="{'accounts-visible': managmentVisible}">
                    <div class="profile-image-container">
                        <img [src]="i.photo" *ngIf="i.photo"  alt="" class="profile-image">
                        <mat-icon class="no-photo " *ngIf="!i.photo">account_circle</mat-icon>
                    </div>
                    <div class="name-lastname">
                        <div class="manage-data">
                            {{i.name}}
                        </div>
                        <div class="manage-data">
                            {{i.lastName}}
                        </div>
                    </div>
                    <div class="manage-data">
                    <p class="data-titles" >{{"EMAIL" |translate}} :</p> {{i.email}}
                    </div>
                    <div class="manage-data">
                        <p class="data-titles" >{{"ROLE" |translate}} :</p> {{i.accountRole}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Dashboard -->

<div class="dashboard-parent">
   <div class="dashbord-align">
    <p class="dashboard-title">{{"DASHBOARD" |translate}} 
        <mat-icon class="dash-red">bar_chart</mat-icon>
        <mat-icon class="dash-green">show_chart</mat-icon> 
    </p>
    <div class="total-stat-parent">
        <div class="total-align">
            <div class="total-resp">
                <p class="total-title">
                    {{"TOTALSOLD"|translate}}:
                </p>
                <p class="total-resp-num">
                    {{totalSold}}
                </p>
                <mat-icon class="icon-roatate total-orange">confirmation_number</mat-icon>
            </div>
            <div class="total-resp">
                <p class="total-title">
                    {{"TOTALPRICE"|translate}}:
                </p>
                <p class="total-resp-num">
                    {{totalPrice}}
                </p>
                <p class="total-green">
                    ₾
                </p>
            </div>
            <div class="total-resp">
                <p class="total-title">
                   {{"TOTALVIEWS"|translate}}: 
                </p>
                <p class="total-resp-num">
                    {{totalViews}}
                </p>
                <mat-icon class="eye-margin total-grey">visibility</mat-icon>
            </div>
        </div>
    </div> 
    <div class="dashboard">
        <div class="ticket" *ngFor="let i of ActiveTickets">
            <div class="ticket-background">
                <div class="title-align">
                    <p class="ticket-title">{{i.title}}</p>
                </div>
                <div class="ticket-image-container">
                    <img [src]="i.photo" alt="" class="ticket-image">
                </div>
               <div class="stat-column">
                <div class="stat-parent">
                    <div class="stat-title sold-color">
                      {{"SOLDCOUNT" |translate}}
                      <div class="stat-res">     
                        <p class="res-num"> {{i.sold}} </p>
                        <mat-icon class="icon-roatate">confirmation_number</mat-icon>
                      </div>
                    </div>
                </div> 
                <div class="stat-parent">
                    <div class="stat-title">
                      {{"REMAININGCOUNT" |translate}}
                        <div class="stat-res">
                            <p class="res-num">{{i.ticketCount}}</p>
                            <mat-icon class="icon-roatate">confirmation_number</mat-icon>
                        </div>
                    </div>
                </div> 
                <div class="stat-parent">
                    <div class="stat-title total-color">
                        {{"TOTAL" |translate}} :
                       <p class="res-num">{{i.sold * i.price}} ₾</p>
                    </div>
                </div> 
                <div class="stat-parent view-flex">
                    <p class="stat-title total-color">
                      {{"VIEWCOUNT" |translate}} :
                    </p>
                    <div class="stat-res">
                        <p class="res-num">{{i.viewCount}}</p>
                        <div class="view-count"><mat-icon class="eye-margin">visibility</mat-icon></div>
                    </div>
                </div> 
                </div>
            </div>
        </div>
    </div>
   </div>
</div>