<div class="modalaprent" *ngIf="modalvisible">
    <div class="modal">
        <div class="CloseModalParent">
          <button (click)="hideModal()" class="close-modal-btn CloseModalbutton">X</button>
        </div>
        <div class="Registration_Response">
          <p class="Response_Style">{{ Server_response }}</p>
        </div>
    </div>
</div>


<div class="EventParent"  *ngIf="LoggedCheck()">
    <div class="DashboardHeader">
        <div class="DashboardRoutes">
            <div class="Nav_Routes">
                <div class="Navigation_routes">
                    <a class="RouterLink" routerLinkActive="active-link" (click)="TicketCreate()">Create Event</a>
                    <span class="underline" *ngIf="CreateTicketVisible"></span>
                </div>
                <div class="Navigation_routes">
                     <a  class="RouterLink" routerLinkActive="active-link" (click)="Dashboard()">Dashboard</a>
                     <span class="underline" *ngIf=" DashboardVisible"></span>
                 </div>
                <div class="Navigation_routes">
                    <a class="RouterLink" routerLinkActive="active-link" (click)="Profile()">Profile</a>
                    <span class="underline" *ngIf="ProfileVisible"></span>
                </div>
            </div>
        </div>
    </div>
    <app-create-ticket class="create_ticket" *ngIf="CreateTicketVisible"></app-create-ticket>
    <app-creator-profile class="Creator_Profile" *ngIf="ProfileVisible"></app-creator-profile>
    <app-dashboard class="Creator_Dashboard" *ngIf="DashboardVisible"></app-dashboard>

</div>
<div class="AccountLoginCheck" *ngIf="LoggedCheck() == false">
    <div class="LOgintotext">
        Log into Creator Space!
    </div>
    <div class="FormParent">

        <!--Log into creator account Form-->
        <form class="LogAccountForm" [formGroup]="Loginform" (submit)="LoginToaccount()" *ngIf="Rolecheck() && switch ==false" >
            <div>
                <input type="text" class="LoginAccountInputs" placeholder="Username...." formControlName="username">
                <div *ngIf="Loginform.controls['username']?.dirty" class="positionrelative">
                    <span *ngIf="Loginform.controls['username']?.errors?.['required']" class="validationMessage">Username is required</span>
                </div> 
            </div>
          
          <div>
            <input type="password" class="LoginAccountInputs" placeholder="******" formControlName="password"> 
            <div *ngIf="Loginform.controls['password']?.dirty " class="positionrelative">
                <span *ngIf="Loginform.controls['password']?.errors?.['required']" class="validationMessage">Password is required</span>
            </div>   
          </div>
            <button class="submitbutton "> Submit</button>
        </form>
         <!--Register as creator  Form-->
        <form class="LogAccountForm" [formGroup]="RegisterForm" (submit)="RegisterAscreator()" *ngIf="Rolecheck() == false">
            <div>
                <input type="number" class="LoginAccountInputs" placeholder="Personal ID" formControlName="PersonalID">
                <div *ngIf="RegisterForm.controls['PersonalID']?.dirty " class="positionrelative">
                    <span *ngIf="RegisterForm.controls['PersonalID']?.errors?.['required']" class="validationMessage">Personal ID is required</span>
                </div>
            </div>
         
           <div>
             <input type="number" class="LoginAccountInputs" placeholder="Phone Number" formControlName="PhoneNumber"> 
             <div *ngIf="RegisterForm.controls['PhoneNumber']?.dirty " class="positionrelative">
                 <span *ngIf="RegisterForm.controls['PhoneNumber']?.errors?.['required']" class="validationMessage">Phone number is required</span>
             </div>
           </div>

            <input type="number" class="LoginAccountInputs" placeholder="idcardphoto" formControlName="IdCardPhoto"> 
            <button class="submitbutton ">Submit</button>
        </form>
        <!--Creator Account Form-->
        <form [formGroup]="CreateAccountForm" class="LogAccountForm" *ngIf="Rolecheck() && switch">
            <input type="text" formControlName="UserName" placeholder="UserName" class="LoginAccountInputs">
            <input type="text" formControlName="Logo" placeholder="Photo" class="LoginAccountInputs">
            <input type="password" formControlName="Password" placeholder="Password" class="LoginAccountInputs">,
        </form>
        <div class="">
            <button class="RegisterAsCreator" (click)="SwitchForms()">{{switchText}}</button>
        </div>
    </div>
</div>
