:host{
    width: 100%;
    display: block;
    overflow: hidden;
}
.welcome{
    color: white;
    font-size: 40px;
    padding: 50px;
}
.EventParent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
}
.Navigation{
    display: flex;
    gap: 10px;
    z-index: 10;
    background-color: rgb(41, 41, 41);
    padding: 10px;
    flex-wrap: wrap;
    border-radius: 0px 20px 0px 20px;
}
.router-link{
    color: white;
    text-decoration: none;
    padding: 5px;
    transition: 0.3s all ease-in-out;
}
.router-link.active-link {
    background-color: rgba(255, 255, 255, 0.122);
    padding: 5px;
    border-radius: 10px;
}

.my-accounts-parent{
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 240px;
    max-width: 600px;
    overflow-y: scroll;
    max-height: 300px;
}
.my-accounts-parent::-webkit-scrollbar {
    display: none;
  }
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%
    }
  
     50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
.my-accounts{
    display: flex;
    align-items: center;
    width: 100%;
}
.account-parent{
    background: linear-gradient(270deg, rgb(18, 6, 50), #4d4b5f, rgb(18, 6, 50));
    background-size: 800% 800%;
    -webkit-animation: AnimationName 10s ease infinite;
    -moz-animation: AnimationName 10s ease infinite;
    animation: AnimationName 15s ease infinite;
    box-shadow: 0px 0px 10px black;
    border-radius: 10px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}
.my-accounts-click{
    width: 100%;
    display: flex;
    align-items: center;
    gap: 20px;
    border-radius: 10px;
    padding: 10px;
    background-color: rgb(53, 53, 77);
    cursor: pointer;
    transition: 0.2s all ease-in;
    border: 1px solid transparent;
    border: 0.5px solid grey;
}
.my-accounts-click:hover{
    background-color: rgba(23, 23, 28, 0.655);
    border: 1px solid white;
}
.my-accounts-click:hover .account-image{
    scale: 1.1;
}
.account-name{
    color: white;
}
.account-tag{
    color: white;
    font-weight: bold;
    font-size: 20px;
}
.account-image-container{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
}
.account-image{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.3s  all ease-in-out;
}
.AccountLoginCheck{
    display: flex;
    width: 100%;
    height: 90vh;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    animation: bodyAnimation 1s;
} 
@keyframes bodyAnimation {
    0% {
        transform: translateX(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
.LogAccountForm{
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap :50px;
    position: relative;
    border: 1px solid black;
    box-shadow: 0px 0px 10px  black;
    background-color: black;
}
.Leblofinputs{
    color: white;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.input-title{
    color: white;
}
.LoginAccountInputs{
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    padding: 10px 0px 10px 0px ;
    color: white;
    width: 100%;
}
.inputparents{
    width:100%;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.CreateAccountLabel{
    display: flex;
    width: 100%;
    justify-content: center;
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 25px;
}
.CreateAccountButton{
    width: 100%;
    box-shadow: 0px 0px 5px whitesmoke;
    background-color: transparent;
    border: none;
    border-radius: 5px;
    outline: none;
    padding: 5px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    background-color: white;
    color: black;
    font-family:'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 16px;
}
.CreateAccountButton:hover{
    color: white;
}
.modalaprent{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    position: fixed;
    z-index: 5;
}
.modal {
    background: linear-gradient(270deg, rgb(18, 6, 50), #303706, rgb(18, 6, 50));
    background-size: 800% 800%;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
    padding: 10px 50px 50px 50px ;
    border-radius: 10px;
    display: flex; 
    justify-content: center;
    align-items: center;
    position: fixed;
    flex-direction: column;
    transition: opacity 0.3s ease;
    z-index: 10;
    transition: 0.3s all ease-in-out;
    box-shadow: 0px 0px 10px black;
}
  .Registration_Response{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 280px;
    text-wrap: wrap;
    word-wrap: break-word;
    max-height: 100%;
  }
  .Response_Style{
    color: white;
    font-family: sans-serif;
    text-shadow: 0px 0px 2px black;
    letter-spacing: 1x;
}
.positionrelative{
    position: relative;
    display: flex;
}
.validationMessage{
    color: red;
    font-family: sans-serif;
    font-size: 12px;
    position: absolute;
    margin-top: 3px;
}


/* From Uiverse.io by vinodjangid07 */ 
.bookmarkBtn {
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(12, 12, 12);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
  }
  
  .IconContainer {
    width: 30px;
    height: 30px;
    background: linear-gradient(to bottom, rgb(255, 136, 255), rgb(172, 70, 255));
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: 2;
    transition-duration: 0.3s;
  }
  
  .icon {
    border-radius: 1px;
  }
  
  .text {
    height: 100%;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    z-index: 1;
    transition-duration: 0.3s;
    font-size: 1.04em;
  }
  
  .bookmarkBtn:hover .IconContainer {
    width: 90px;
    transition-duration: 0.3s;
  }
.RegisterAsCreator {
    display: inline-block;
    width: auto;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid white;
    position: relative;
    overflow: hidden;
    transition: all 0.5s ease-in;
    z-index: 1;
    background-color: transparent;
    cursor: pointer;
    color: white;
   }
   
   .RegisterAsCreator::before,
   .RegisterAsCreator::after {
    content: '';
    position: absolute;
    top: 0;
    width: 0;
    height: 100%;
    transform: skew(15deg);
    transition: all 0.5s;
    overflow: hidden;
    z-index: -1;
   }
   
   .RegisterAsCreator::before {
    left: -10px;
    background: #353434;
   }
   
   .RegisterAsCreator::after {
    right: -10px;
    background: #000000;
   }
   
   .RegisterAsCreator:hover::before,
   .RegisterAsCreator:hover::after {
    width: 58%;
   }
   
   .RegisterAsCreator:hover span {
    color: #e0aaff;
    transition: 0.3s;
   }
   
   .RegisterAsCreator span {
    color: #03045e;
    font-size: 18px;
    transition: all 0.3s ease-in;
   }
.input-dirty{
    color: red;
    font-size: 14px;
}
.red-input{
    color: red;
    font-size: 14px;
}