<div class="ScannerContainer">
    <div class="ScanerParent" *ngIf="isScanerOpened">   
        <div class="centerLoader">
            <div class="cssload-container" >
                <ul class="cssload-flex-container">
                   <li>
                      <span class="cssload-loading cssload-one"></span>
                      <span class="cssload-loading cssload-two"></span>
                      <span class="cssload-loading-center"></span>
                   </li>
                </ul>
            </div> 
        </div>   
        <div class="scannerCenter">
        <zxing-scanner 
            class="Scanner"
            (scanSuccess)="onCodeResult($event)"
            [formats]="formats">
        </zxing-scanner>
        </div>
    </div>
    <div *ngIf="Expired" class="ticketExpiredcontainer">
        <div class="ticketExpired">
            <p>This Ticket is Expired!</p>
        </div>
      </div>
      <div *ngIf="!IsActive && showNotActive " class="ticketExpiredcontainer">
        <div class="ticketExpired">
            <p>This Ticket is Already Used!</p>
        </div>
      </div>
      <div *ngIf="!Expired && IsActive" class="ticketExpiredcontainer GreenTicketContainer">
        <div class="ticketExpired">
            <p>Passed</p>
        </div>
      </div>
  </div>
  
  