<div class="Registration_Login">
    <div class="modal" [ngClass]="{'show-modal': modalVisible}">
      <div class="CloseModalParent">
        <button (click)="hideModal()" class="close-modal-btn CloseModalbutton">X</button>
      </div>
      <div class="Registration_Response">
        <p class="Response_Style">{{ Server_response }}</p>
      </div>
    </div>
    <!-------------------------Registration-------------------->
    <div class="Regirstration_Style"[style.opacity.0]="RegisterOpacity" *ngIf="registrationVisible">
      
      <div class="reg_label"><b class="reg_Font">Registration</b></div>
        <!--Email validation Form-->
      <form action="" [formGroup]="EmailValidationForm" [ngClass]="{'show-modal': EmailValidationForm_Visible}" class="EmailForm" (ngSubmit)="EmailValidation()">      
        <div> 
          <input type="email" formControlName="email" placeholder="Email" class="Reg_Input">
           <div *ngIf="EmailValidationForm.controls['email']?.dirty || isFormSubmited">
                <span *ngIf="EmailValidationForm.controls['email']?.errors?.['required']" class="validationMessage">Email is required</span>
                <span *ngIf="EmailValidationForm.controls['email']?.errors?.['pattern']" class="validationMessage">You Forgot {{dog}}</span>
           </div>   
        </div>     
        <button type="submit" class="SubmitBUttons">Submit</button>
      </form>     


        <!--Registration Form-->
        <form [formGroup]="registrationForm" [ngClass]="{'show-modal': RegistrationForm_visible}" class="Register_Form" (ngSubmit)="submitRegistration()">
        <div class="">
            <input type="number" formControlName="passcode" placeholder="Code" class="Reg_Input" required="name">
            <div *ngIf="registrationForm.controls['passcode'].dirty || isFormSubmited">
              <span *ngIf=" registrationForm.controls['passcode'].errors?.['required']"class="validationMessage">passcode is required</span>
              <span *ngIf=" registrationForm.controls['passcode'].errors?.['minlength']" class="validationMessage">Please enter more than 6 characters</span>
            </div>         
         </div>
        <div class="">
            <input type="text" formControlName="name" placeholder="Name" class="Reg_Input" required="name">
            <div *ngIf="registrationForm.controls['name'].dirty || isFormSubmited">
              <span *ngIf=" registrationForm.controls['name'].errors?.['required']"class="validationMessage">Name is required</span>
              <span *ngIf=" registrationForm.controls['name'].errors?.['minlength']" class="validationMessage">Please enter more than 2 characters</span>
            </div>         
         </div>

         <div class="">
            <input type="text" formControlName="LastName" placeholder="LastName" class="Reg_Input" required="LastNamE" >
            <div *ngIf="registrationForm.controls['LastName'].dirty || isFormSubmited">
              <span *ngIf=" registrationForm.controls['LastName'].errors?.['required']"class="validationMessage">LastName is required</span>
              <span *ngIf="registrationForm.controls['LastName']?.errors?.['minlength']" class="validationMessage">Please enter more than 2 characters</span>
            </div>         
         </div>
        <div class="">
            <input type="password" formControlName="password" placeholder="Password" class="Reg_Input">
            <div *ngIf="registrationForm.controls['password'].dirty || isFormSubmited">
              <span *ngIf=" registrationForm.controls['password'].errors?.['required']"class="validationMessage">password is required</span>
            </div>         
        </div>
         
        <div class="">
            <input type="number" formControlName="Phone" placeholder="+995" class="Reg_Input">
            <div *ngIf="registrationForm.controls['Phone'].dirty || isFormSubmited">
              <span *ngIf=" registrationForm.controls['Phone'].errors?.['required']" class="validationMessage">phone is required</span>
              <span *ngIf=" registrationForm.controls['Phone'].errors?.['']" class="validationMessage">Phone Number is incorrect</span>
            </div>         
        </div> 
          <button type="submit" class="SubmitButton" (click)="submitRegistration()" [disabled]="!registrationForm.valid">Finish Registration!</button>

        </form>
    </div> 


      <!-------------------------Login-------------------->


      <div class="Login_Style" id="loginform" [style.opacity.0]="LoginOpacity" *ngIf="loginVisible">
        <div class="reg_label"><b class="reg_Font">Login</b></div>
        <form [formGroup]="LoginForm" class="Login_Form" (ngSubmit)="Login()">
         <div class="">
            <input type="Email" formControlName="Email" placeholder="Email" class="Reg_Input">
            <div *ngIf="LoginForm.get('Email')?.touched || isFormSubmited">
              <span *ngIf="LoginForm.get('Email')?.errors?.['required']" class="validationMessage">Email is required</span>
              <span *ngIf="LoginForm.get('Email')?.errors?.['pattern']" class="validationMessage">You Forgot {{dog}}</span>
            </div>
                
         </div>

          <div class="">
            <input type="Password" formControlName="Password" placeholder="Password" class="Reg_Input">
            <div *ngIf="LoginForm.get('Password')?.dirty || isFormSubmited">
              <span *ngIf=" LoginForm.get('Password')?.errors?.['required']"class="validationMessage">password is required</span>
            </div>         
          </div>
          <div class="Forgot_Password">
            <p class="forgot_font">Fogrot Password?</p>
          </div>
          <button type="submit" class="SubmitBUttons"(click)="Login()">Submit</button>
        </form>
     </div>

     <!--Switch-->
     <div class="switch">
      <p class="switchbtn" id="loginswitch" (click)="changeWidth()">Switch to {{ToggleInnerText}}</p>
    </div>
</div>
 