<div class="form-center">
    <form [formGroup]="registerForm">
        <div class="register-from-parent">
            <div class="progress-bar-parent">
                <div class="progress-bar">
                    <div class="step-1" [style.width]="getProgressWidth()" 
                    [ngClass]="{
                       'step-2': registerForm.get('Name')?.valid,
                       'step-3': registerForm.get('lastName')?.valid,
                       'step-4': registerForm.get('PhoneNumber')?.valid,
                       'step-5': registerForm.get('PersonalID')?.valid,
                       'step-6': registerForm.get('IdCardPhoto')?.valid
                     }">
               </div>
               
                </div>
            </div>
            <div class="first-half" *ngIf="twoStep">
            <label for="" class="title-label">{{"REGISTERASCREATOR" |translate}}</label>
                <div class="form__group field">
                    <input type="text" class="form__field" formControlName="Name">
                    <label for="name" class="form__label">{{"NAME" |translate}}</label>
                </div>
                <div class="form__group field">
                    <input type="text" class="form__field" formControlName="lastName">
                    <label for="name" class="form__label">{{"LASTNAME" |translate}}</label>
                </div>
                <div class="form__group field">
                    <input type="text" class="form__field"formControlName="PhoneNumber">
                    <label for="name" class="form__label">{{"PHONENUMBER" |translate}}</label>
                </div>
                <button class="next-button" (click)="next()">{{"NEXT"|translate}}</button>
            </div>   
            <div class="first-half" *ngIf="!twoStep">
                <div class="form__group field">
                    <input type="text" class="form__field"   formControlName="PersonalID">
                    <label for="name" class="form__label">{{"PERSONALID" |translate}}</label>
                </div>
                <div class="upload-photo">
                    <label for="name" class="card-photo-label">{{"PERSONALIDPHOTO" |translate}}</label>
                    <div class="img-container">
                        <button class="upload-button" (click)="triggerFileInput()"> <mat-icon>camera_alt</mat-icon>  </button>
                        <input id="photo" type="file" (change)="onFileChange($event)" accept="image/*" hidden formControlName="IdCardPhoto">

                        <img [src]="imagePreview" class="img" alt="">
                    </div>
                </div>
                <button class="next-button save-button" (click)="uploadImage()" [disabled]="!registerForm.valid" [ngClass]="{'disabled-save': registerForm.valid}">{{"SAVE"|translate}}</button>
                <button class="next-button" (click)="next()">{{"BACK"|translate}}</button>
            </div>
        </div>
    </form>
</div>