<header class="searchbarParent" *ngIf="navHide()">
    <div class="Navbarflex2">
        <div class="searchingParent">         
            <button (click)="ShowNavigation()" class="MenuButton">
                <mat-icon>home</mat-icon>
            </button>
<!--             <button class="backAndForward" (click)="Back()"><mat-icon class="flipicon backforwardicons">exit_to_app</mat-icon>Back</button>
            <button class="backAndForward" (click)="Forward()"><mat-icon class="backforwardicons">exit_to_app</mat-icon>Forward</button> -->
            <div class="ticketerTitle"[routerLink]="this.routes.ticket">
                Ticketer
                <mat-icon>confirmation_number</mat-icon>
            </div>
          <form [formGroup]="searchForm" class="search-from">
            <input type="text" formControlName= "searchTerm" placeholder="Search by name..." class="searchbar"/>
            <button [routerLink]="routes.searchResult + searchForm.value.searchTerm" class="search-btn">
                <mat-icon>search</mat-icon>
            </button>
          </form>
         </div>
         <div class="Nav_Routesflex">
             <a [routerLink]="this.routes.userProfile"  class="RouterLinkflex" routerLinkActive="active-link" *ngIf="Loggedin()" (click)="searchbarShow()">
                <div class="profile">
                    <div class="profileflex" >
                        <div class="profilecontainermain">
                            <img [src]="Profile.profile" alt="" class="userprofile" *ngIf="Profile.profile">
                            <mat-icon class="ProfileNot" *ngIf="Profile.profile == null">account_circle</mat-icon>
                        </div>
         
                    </div>
                </div>
             </a>   
             <a [routerLink]="this.routes.login" class="RouterLinkflex" routerLinkActive="active-link" *ngIf="Loggedin() == false"><mat-icon>login</mat-icon>{{"LOGIN" |translate}}</a>
             <select (change)="changeLanguage($event)" class="language">
                <option class="language-options" value="" disabled selected>{{ 'LANGUAGE' | translate }}</option>
                <option class="language-options"  value="en">En</option>
                <option class="language-options"  value="geo">ქარ</option>
            </select>    
         </div>
     </div>
</header>
<div class="categories"  *ngIf="pathsToHide()">
    <div class="categoriesAlign">
        <div class="categoryTitle" [routerLink]="this.routes.ticketCategories+'music'" routerLinkActive="categoire-active"><p class="nav-titles"> {{'MUSIC' | translate }} </p><mat-icon class="categoryIcons music">music_note</mat-icon> </div>
        <div class="categoryTitle" [routerLink]="this.routes.ticketCategories+'cinema'" routerLinkActive="categoire-active"><p class="nav-titles"> {{'FILM' | translate }}  </p><mat-icon class="categoryIcons">camera_alt</mat-icon> </div>
        <div class="categoryTitle" [routerLink]="this.routes.ticketCategories+'theater'" routerLinkActive="categoire-active"> <p class="nav-titles"> {{'THEATER' | translate }}  </p> <mat-icon class="categoryIcons theater">theater_comedy</mat-icon> </div>
        <div class="categoryTitle" [routerLink]="this.routes.ticketCategories+'Sport'" routerLinkActive="categoire-active"> <p class="nav-titles"> {{'FOOTBALL' | translate }}  </p> <mat-icon class="categoryIcons football">sports_soccer</mat-icon> </div>
        <div class="categoryTitle" [routerLink]="this.routes.ticketCategories+'other'" routerLinkActive="categoire-active"> <p class="nav-titles"> {{'OTHER' | translate }}  </p></div>
    </div>
</div>
<div class="NavFull"  *ngIf="NavigationVisible" >
    <div class="Navbar"  [style.width.%]="width"  [style.minWidth.px]="minwidth">
        <div class="Xnav">
          <button (click)="HideNavigation()" class="Xbutton">  <mat-icon>close</mat-icon></button>  
         </div>
         <div class="Nav_Routes">
            <select (change)="changeLanguage($event)" class="language">
                <option class="language-options" value="" disabled selected>{{ 'LANGUAGE' | translate }}</option>
                <option class="language-options" value="en">En</option>
                <option class="language-options" value="geo">ქარ</option>
            </select> 
             <a [routerLink]="this.routes.userProfile" class="RouterLink" routerLinkActive="active-link" *ngIf="Loggedin()"  (click)="searchbarShow()">
                <div class="profile">
                    <div class="profilecontainer">
                        <img [src]="Profile.profile" alt="" class="userprofile" *ngIf="Profile.profile">
                        <mat-icon class="ProfileNot" *ngIf="Profile.profile == null">account_circle</mat-icon>
                    </div>
                 
                    <div class="username"> 
                        <p>{{Profile.name}}</p>
                        <p>{{Profile.lastName}}</p>
                    </div>
                </div>
             </a>
             <a [routerLink]="this.routes.login" class="RouterLink" routerLinkActive="active-link" *ngIf="Loggedin() == false" (click)="searchbarHide()"><mat-icon>login</mat-icon>Login</a>
             <a [routerLink]="this.routes.ticket" class="RouterLink" routerLinkActive="active-link" (click)="searchbarShow()"><mat-icon>confirmation_number</mat-icon>{{ 'TICKETS' | translate }}</a>
         </div>
         <div class="CreatorSpace">
            <a [routerLink]="this.routes.creator" class="RouterLink RouterAuth" routerLinkActive="active-link"  *ngIf="Creator()" (click)="searchbarHide()"><mat-icon>palette</mat-icon>{{ 'CREATORSPACE' | translate }}</a>
         </div>
     </div>
     <div class="OtherHalf"  [style.opacity]="opacity"  (click)="HideNavigation()">
     </div>
</div>
