.NavFull{
    width: 100%;
    height: 100%;
    display: flex;
    z-index: 509;
    transition: 0.3s all ease-in-out;
    position: fixed;
}
.Navbar{
    width: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.467);
    backdrop-filter: blur(20px);
    align-items: center;
    z-index: 509;
    transition: 0.3s all ease-in-out;
    box-shadow: 2px 2px 10px black;
    max-width: 300px;
}
.OtherHalf{
    width: 100%;
    backdrop-filter: blur(2px);
    background-color: rgba(0, 0, 0, 0.378);
    transition: 0.3s all ease-in-out;
}
.Nav_Routes{
    gap: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
}
.CreatorSpace{
    height: 70%;
    display: flex;
    align-items: flex-end;
    width: 100%;
}
.RouterLink{
    color: white;
    text-decoration: none;
    width: 100%;
    padding: 10px;
    display: grid;
    place-items: center;
    transition: 0.2s all ease-in-out;
}
.RouterLink.active-link {
    border-bottom: 1px dashed white;
}
.RouterLink:hover{
    background-color: rgba(59, 59, 59, 0.401);
}
.searchingParent{
    display: flex;
    align-items: center;
    gap: 30px;
    width: 50%;
}
.searchbarParent{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    background-color: rgb(23, 23, 28);
    position: fixed;
    top: 0px;
    z-index: 15;
    flex-direction: column;
    height: 50px;
    align-items: center;
}
.Navbarflex2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;
    max-width: 1600px;
}
.Nav_Routesflex{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: center;
    gap: 40px;
}
.RouterLinkflex{
    color: white;
    display: flex;
    align-items: center;
    border: none;
    text-decoration: none;
    padding: 10px;
    border-radius: 10px;
}
.RouterLinkflex.active-link {
    background-color: rgba(255, 255, 255, 0.141);
}
.searchbarAlign{
    padding: 10px;
    border-radius: 10px;
  }
  .option{
    color: white;
    cursor: pointer;
  }
  .searchbar{
    background-color: white;
    border: none;
    color: black;
    padding: 10px;
    outline: none;
    width: 100%;
    border-radius: 10px;
    position: sticky;
  }
  
.userNameflex{
    display: flex;
    align-items: center;
}  
.MenuButton {
    position: relative;
    background-color: rgb(59, 59, 59);
    outline: none;
    border: none;
    cursor: pointer;
    z-index: 500;
    border-radius: 10px;
    padding: 10px;
    color: white;
    top: 0;
    left: 0;
    display: none;
}
.Xnav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.Xbutton{
    padding: 5px;
    background-color: transparent;
    border: none;
    color:red;
    cursor: pointer;
    transition: 0.2s all ease-in-out;
}
.Xbutton:hover{
    background-color: red;
    color: white;
    border-radius: 5px;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.routerwhite{
    width: 30%;
}
.profileflex{
    display: flex;
    align-items: center;
    width: 100%;
    gap: 20px;
}
.profilecontainermain{
    width: 30px;
    height: 30px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    border:1px solid white;
}
.routerwhite{
    color: white;
    text-decoration: none;
}
.profilecontainer{
    width: 50px;
    height: 50px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%; 
    border:1px solid white;
}
.ProfileNot{
    width: 70px;
    height: 70px;
    font-size: 70px;
    display: flex;
    justify-content: center;
}
.userprofile{
    width: 100%;
    object-fit: cover;
}
.username{
    display: flex;
    align-items: center;
    gap: 10px;
    width: 100%;
}










@media screen and (max-width : 680px){
    .Navbarflex2{
        justify-content: flex-start;
    }
    .Nav_Routesflex{
        display: none;
    }
    .MenuButton{
        display: flex;
    }
    .searchingParent{
        width: 80%;
    }
}