:host{
    width: 100%;
    height: 100%;
}

.center-form{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.CancelAdingticket{
    display: flex;
    width: 100%;
    justify-content: center;
}
.cancel-ticket-align{
    width: 90%;
    max-width: 1000px;
    padding: 20px;
}
.CancelAdingticketButton{
    width: 200px;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.3s all ease-in-out;
}
.image-preview-parent{
    width: 100%;
    display: flex;
    justify-content: center;
}
.image-preview{
    width: 90%;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    max-width: 1000px;
}
.photoAlign{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    transition: 0.2s all ease-in-out;
    object-fit: cover;
}
.photoAlign:hover{
    opacity: 1;
}
.photoinput{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    outline: none;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}
.imagepreviewphoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    border-radius: 10px;
}







.input-align-parent{
    width: 90%;
    display: flex;
    max-width: 1000px;
    padding: 30px;
    justify-content: space-between;
}
.input-align{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-names{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.ticket-inputs{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: lightpink;
    padding: 10px;
}

.input-center{
    justify-content: space-evenly;
}
.datetime-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.542);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px black;
}
.date-align-time{
    display: flex;
    flex-direction: column;
}
.description-align{
    display: flex;
    max-width: 1000px;
    width: 90%;
    justify-content: space-between;
    gap: 20px;
}
.description-width{
    width: 100%;
}
.resizable-description {
    width: 90%;
    height: 90%;
    resize:vertical;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: start;
    background-color: transparent;
    color: lightpink;
    min-height: 150px;
}
.ticket-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ticket-count-align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-ticket-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.create-ticket-button{
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    transition: 0.3s all ease-in-out;
    color: white;
    cursor: pointer;
    width: 100%;
}
.create-ticket-button:hover{
    background-color: white;
    color: black;
}











@media screen and (max-width : 600px){
    .input-align-parent{
        flex-direction: column;
    }
}
@media screen and (max-width : 510px){
    .description-align{
        flex-direction: column-reverse;
        margin-top: 20px;
    }
    .datetime-column{
        flex-direction: row;
        justify-content: space-between;
    }
    .resizable-description {
        width: 100%;
    }
}