:host{
    width: 100%;
    height: 100%;
}

.delete-modal-parent{
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 2;
}

.delete-modal{
    background-color: #000000;
    background: linear-gradient(270deg, rgb(18, 6, 50), #222c05, rgb(18, 6, 50));
    background-size: 800% 800%;
    -webkit-animation: AnimationName 20s ease infinite;
    -moz-animation: AnimationName 20s ease infinite;
    animation: AnimationName 20s ease infinite;
    padding: 10px 20px 20px 20px ;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px black;
}
  @keyframes AnimationName {
    0% {
      background-position: 0% 50%
    }
  
     50% {
      background-position: 100% 50%
    }
  
    100% {
      background-position: 0% 50%
    }
  }
.modal-question{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.are-you-sure{
    color: white;
    font-size: 25px;
    text-align: center;
}
.warning-flex{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}
.warn{
    color: yellow;
}
.note{
    color: #9f9f00;
    
}
.modal-buttons{
    display: flex;
    justify-content: space-evenly;
}
.center-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.CancelAdingticket{
    display: flex;
    width: 100%;
    justify-content: center;
}
.cancel-ticket-align{
    width: 90%;
    max-width: 800px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.CancelAdingticketButton{
    border-radius: 10px;
    cursor: pointer;
    border: none;
    transition: 0.3s all ease-in-out;
    padding: 5px;
}
.delete-ticket-button{
    background-color: transparent;
    border: 1px solid red;
    color: white;
    transition: 0.2s all ease-in-out;
}
.delete-ticket-button:hover{
    background-color: red;
}
.image-preview-parent{
    width: 100%;
    display: flex;
    justify-content: center;
}
.image-preview{
    width: 90%;
    height: 250px;
    overflow: hidden;
    position: relative;
    border-radius: 10px;
    max-width: 800px;
    background-color: rgba(0, 0, 0, 0.503);
    border: 1px solid grey;
}
.photoAlign{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0.1;
    transition: 0.2s all ease-in-out;
    object-fit: cover;
}
.photoAlign:hover{
    opacity: 1;
}
.photoinput{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border: none;
    outline: none;
    transition: 0.2s all ease-in-out;
    cursor: pointer;
    border-radius: 10px;
}
.imagepreviewphoto{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
    border-radius: 10px;
}







.input-align-parent{
    width: 100%;
    display: flex;
    padding: 30px;
    justify-content: space-between;
    gap: 30px;
    flex-direction: column;
}
.input-align{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input-names{
    font-size: 25px;
    font-weight: bold;
    color: white;
}
.ticket-inputs{
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    color: lightpink;
    padding: 10px;
}
.ticket-inputs Option{
    background-color: black;
}
.input-center{
    justify-content: space-evenly;
}
.datetime-container{
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    min-width: 180px;
    max-height: 90px;
    max-width: 300px;
}
.datetime-flex{
    display: flex;
    align-items: center;
    gap: 30px;
}
.date-align-time{
    display: flex;
    flex-direction: column;
}
.description-align{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-direction: column;
}
.description-validation{
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
}
.val-absolute{
    position: absolute;
    bottom: -40px;
}
.description-width{
    width: 100%;
    height: 100%;
}
.resizable-description {
    width: 90%;
    height: 90%;
    resize:vertical;
    padding: 10px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    box-sizing: border-box;
    text-align: start;
    background-color: transparent;
    color: lightpink;
    min-height: 150px;
}
.ticket-count{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.ticket-count-align{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.create-ticket-parent{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}
.create-ticket-button{
    padding: 20px;
    border-radius: 10px;
    background-color: transparent;
    border: 1px solid white;
    transition: 0.3s all ease-in-out;
    color: white;
    cursor: pointer;
    width: 100%;
}
.create-ticket-button:hover{
    background-color: white;
    color: black;
}

.content-background{
    display: flex;
    flex-direction: column;
    width: 84%;
    max-width: 750px;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.434);
    padding: 25px;
    border-radius: 10px;
    border: 1px solid grey;
}
.validation-message{
    color: red;
    font-size: 14px;
}
.empty-input{
    border-bottom: 1px solid red;
}
.full-border{
    border: 1px solid red;
}





@media screen and (max-width : 880px){
    .datetime-column{
        flex-direction: row;
        justify-content: space-between;
    }
    .resizable-description {
        width: 100%;
    }
    .val-absolute{
        bottom: -20px;
    }
}
@media screen and (max-width : 650px){
    .datetime-flex{
        flex-direction: column;
        align-items: flex-start;
    }
}
@media screen and (max-width : 550px){
    .image-preview{
        height: 200px;
    }
    .CancelAdingticketButton{
        padding: 5px;
    }
}