$background :#28285a;
html,body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
.background{
    background: url(app/Photos/backg14.jpeg);
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    background-size:25%;
}
.RootWidth{
    z-index: 1;
}

