  //Ticket______________________________________
  .CenterBody{
      width: 100%;
      display: flex;
      justify-content: center;
      flex-direction: column;
      align-items: center;
      max-width: 1800px;
      z-index: 5;
      margin-top: 50px;
  }
  
  
  
  
  
  .information-notfound{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 25px;
    text-align: center;
  }
  .allticketHeaderTitle{
    font-size: 30px;
    color: white;
  }
  
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .Ticket_parent{
    display: flex;
    width: 100%;
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .card_box {
    width: 320px;
    height: auto;
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
  }
  .card_box_main{
    width: 320px;
  }
  .card_box span {
    position: absolute;
    overflow: hidden;
    width: 150px;
    height: 150px;
    top: -10px;
    left: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .card_box span::before {
    content: 'Top';
    position: absolute;
    width: 150%;
    height: 40px;
    background-image: linear-gradient(45deg, #ff3107 0%, #ff4444  51%, #ff401a  100%);
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-weight: 600;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    box-shadow: 0 5px 10px rgba(0,0,0,0.23);
    z-index: 2;
  }
  
  .card_box span::after {
    content: '';
    position: absolute;
    width: 10px;
    bottom: 0;
    left: 0;
    height: 10px;
    z-index: -1;
    box-shadow: 140px -140px #cc3f47;
    background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  }
  .Ticket {
    color: #ecf7c5;
    font-family: sans-serif;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    height: auto;
    border-radius: 5px;
    animation: Appear 0.3s linear;
  }
  
  @keyframes Appear {
    0% {
      transform: translate(-900px);
    }
    50%{
      transform: translate(100px);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .TicketImageContainer{
    width: 100%; 
    height: 200px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    border-radius: 10px;
    border: 1px solid rgba(128, 128, 128, 0.273);
    transition: 0.3s all ease-in-out;
  }
  .TicketImageContainer:hover{
    border: 1px solid white;
  }
  .Ticket:hover .ticketimage{
    scale: 1.1;
  }
  .ticketimage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 0.4s all ease-in-out;
  }
  .TicketImageContainer:hover .ticketimage{
    scale: 1.1;
  }

  
  
  
  @media screen and (max-width : 860px){
    .Ticket_parent {
      width: 100%;
    }
    .Ticket_Title{
      font-size: 15px;
      max-width: 180px;
    }
  .card_box{
    width: 290px;
  } 
}