
<div class="ExitModal" *ngIf="modalvisible">
    <div class="modal">
     <div class="exita-lign">
        <p class="exit-text">{{"SUREWANTTOEXIT" | translate}}</p>
     </div>
     <div class="buttoparent">
        <button class="answerButtons Yesbutton" (click)="ExitFromAccount()">{{"YES" | translate}}</button>
        <button class="answerButtons Nobutton" (click)="hidemodal()">{{"NO" | translate}}</button>
     </div>
    </div>
</div>
<div class="exitButton" *ngIf="ExitFromAccountVisible">
    <button (click)="Showmodal()" class="ExitFromAccountbutton"><mat-icon>exit_to_app</mat-icon>{{"EXITFROMACCOUNT" | translate}}</button>
</div>


<div class="exitButtonParent" *ngIf="ExitFromAccountVisible == false">
   <div class="exitbuttonAlign">
      <button class="backoff" (click)="BackFromTicket()">Back<mat-icon class="upside">exit_to_app</mat-icon></button>
   </div>
</div>

<div class="centersingleTicketParent" *ngIf="QRVisible && Instances">
   <div class="SinglticketTitle">
      {{SingleTicket.title}}
   </div>
   <div class="SingleTicketDate">
      <p class="SingleDate"><mat-icon>calendar_today</mat-icon> {{ SingleTicket.activation_Date | date: 'MMM d' }}</p>
      <p class="SingleDate"><mat-icon>access_time</mat-icon>{{ SingleTicket.activation_Date | date: 'h : m a' }}</p>
   </div>
   <div class="SingleTicketParent">
      <div class="SingleTicket" *ngFor="let i of Instances; let index = index" [ngClass]="{'scannedTicket': i.isActive == false}">
         <div class="ifScanned" *ngIf="i.isActive == false">
   
         </div>
         <div class="TicketNumber" >
            {{ index + 1 }}
         </div>
         <p class="Titleofcupon">{{SingleTicket.title}}</p>
         <div class="CodeAndPhoto">
            <div class="Singleticket" >
               <div class=" singlephotoContainer">
                  <img [src]="SingleTicket.photo" alt="" class="TicketPhoto">
               </div>
            </div>
               <div class="qrsection">
                  <qrcode class="c" [qrdata]="i.uniqueID"></qrcode>
               </div>
         </div>
         <div class="uniqueID">{{i.uniqueID}} </div>
      </div>
   </div>
</div>



<div class="Profilecenter" *ngIf="QRVisible == false">
   <div class="headerleAlign">
      <div class="myTicketsHeader">
         <div class="headerTitle">
            {{"MYTICKETS" | translate}}
         </div>
         <div class="ticketswitchParent">
            <div class = "">
               <button class="switchButton" (click)="switchToActive()">{{"ACTIVE" | translate}}</button>  
               <div class="spanline" *ngIf="ticketSwitch"></div>
            </div>
            <div class = "">
               <button class="switchButton" (click)="switchToExpired()"> {{"EXPIRED" | translate}}</button> 
               <div class="spanline expired" *ngIf="ticketSwitch == false"></div>
            </div>
         </div>
      </div>
   </div>


<div class="MyTicketsParent" *ngIf="ticketSwitch">
   <div class="TicketCenter">
      <div class="noTicketFound" *ngIf="noTicketsMessage">
         {{"NOTFOUND" | translate}}
      </div>
      <div class="Ticket_parent" *ngIf="actTickets" appScrollAnimation>
         <div class="Ticket"  *ngFor="let tkt of actTickets; let i = index">
            <div class="SoldCount"><p class="soldcounttext">{{tkt.ticketCount}}</p> <mat-icon class="iconsize2">confirmation_number</mat-icon></div>
             <div class="card_box" (click)="viewTicket(tkt)">
                     <div class="TicketImageContainer">
                         <img [src]="tkt.photo" alt="" class="ticketimage">
                     </div>
             </div>
             <div class="">
                 <p class="ticketTitle"> {{tkt.title}}</p> 
            </div>
         </div>
     </div> 
   </div>
</div>

<div class="MyTicketsParent" *ngIf="expTickets && ticketSwitch ==false">
   <div class="TicketCenter">
      <div class="noTicketFound" *ngIf="noTicketsMessage">
         {{"NOTFOUND" | translate}}
      </div>
      <div class="Ticket_parent" *ngIf="expTickets" appScrollAnimation>
         <div class="Ticket"  *ngFor="let tkt of expTickets; let i = index">
            <div class="SoldCount"><p class="soldcounttext">{{tkt.ticketCount}}</p> <mat-icon class="iconsize2">confirmation_number</mat-icon></div>
             <div class="card_box" (click)="viewTicket(tkt)">
                     <div class="TicketImageContainer">
                         <img [src]="tkt.photo" alt="" class="ticketimage">
                     </div>
             </div>
             <div class="">
                 <p class="ticketTitle"> {{tkt.title}}</p> 
            </div>
         </div>
     </div> 
   </div>
</div>
</div>

  