
<div class="ExitModal" *ngIf="modalvisible">
    <div class="modal">
     <div class="">
        <p>Exit from Account?</p>
     </div>
     <div class="buttoparent">
        <button class="answerButtons Yesbutton" (click)="ExitFromAccount()">Yes</button>
        <button class="answerButtons Nobutton" (click)="hidemodal()">No</button>
     </div>

    </div>
</div>
<div class="exitButton" *ngIf="ExitFromAccountVisible">
    <button (click)="Showmodal()" class="button"><mat-icon>exit_to_app</mat-icon>  Exit from account</button>
</div>


<div class="exitButtonParent" *ngIf="ExitFromAccountVisible == false">
   <button class="backoff" (click)="BackFromTicket()">Back<mat-icon class="upside">exit_to_app</mat-icon></button>
</div>
<div class="SingleTicketParent" *ngIf="QRVisible">
   <div class="SinglticketTitle">
      {{SingleTicket.title}}
   </div>
   <div class="SingleTicketDate">
      <p class="SingleDate"><mat-icon>calendar_today</mat-icon> {{formatDate(SingleTicket.activation_Date)}}</p>
      <p class="SingleDate"><mat-icon>access_time</mat-icon>{{formatHour(SingleTicket.activation_Date)}}</p>
     </div>
   <div class="SingleTicket" *ngFor="let i of Instances; let index = index" [ngClass]="{'scannedTicket': i.isActive == false}">
      <div class="TicketNumber" >
         {{ index + 1 }}
      </div>
      <div class="CodeAndPhoto">
         <div class="Singleticket" >
            <div class=" singlephotoContainer">
              <img [src]="SingleTicket.photo" alt="" class="TicketPhoto">
            </div>
         </div>
         <div class="QrCode">
            <qrcode class="qrcodeWidth" [qrdata]="i.uniqueID"></qrcode>
         </div>
      </div>
   </div>
</div>



<div class="Profilecenter" *ngIf="QRVisible ==false">
  <div class="Profilecard">
     <div class="ProfilepictureContainer">
         <img [src]="Profile.profile" alt="" class="profilephoto">
     </div>
     <div class="ProfileData"> 
        <p class="Name">{{Profile.name}}</p>
        <p class="Name">{{Profile.lastName}}</p>
     </div>
  </div>

<p class="title">My tickets <mat-icon>confirmation_number</mat-icon></p>


  <div class="MyTicketsParent" *ngIf="Tickets">
   <div class="TicketCenter">
      <div class="Ticket" *ngFor="let tkt of Tickets">
         <div class="SoldCount"><p class="soldcounttext">{{tkt.ticketCount}}</p> <mat-icon class="iconsize2">confirmation_number</mat-icon></div>
         <div class="PhotoContainer" (click)="viewTicket(tkt)">
          <div class="AbsoluteHover"></div>
           <img [src]="tkt.photo" alt="" class="TicketPhoto">
         </div>
         <div class="">
            {{tkt.title}}
         </div>
         <div class="TicketDate">
            <p class="tktdate"><mat-icon class="iconsize">calendar_today</mat-icon> {{formatDate(tkt.activation_Date)}}</p>
            <p class="tktdate"><mat-icon class="iconsize">access_time</mat-icon>{{formatHour(tkt.activation_Date)}}</p>
       </div>
      </div>
   </div>
  </div>
</div>
