
<div class="ExitModal" *ngIf="modalvisible">
    <div class="modal">
     <div class="">
        <p>Exit from Account?</p>
     </div>
     <div class="buttoparent">
        <button class="button exitbutton" (click)="ExitFromAccount()">Exit</button>
        <button class="button cancelbutton" (click)="hidemodal()">Cancel</button>
     </div>

    </div>
</div>
<div class="exitButton">
    <button (click)="Showmodal()" class="button"><mat-icon>exit_to_app</mat-icon>  Exit from account</button>
</div>


<div class="Profilecenter">
  <div class="Profilecard">
     <div class="ProfilepictureContainer">
         <img [src]="Profile.profile" alt="" class="profilephoto">
     </div>
     <div class="ProfileData"> 
        <p class="Name">{{Profile.name}}</p>
        <p class="Name">{{Profile.lastName}}</p>
     </div>
  </div>
</div>
